@charset "utf-8" ;

@import '../../../fundamental_settings.scss' ;

%nameInDocument {
  @include float_left ;
  vertical: {
    align: middle ;
  }
  @include font_ja_and_en( 18 , 10.0 / 18 ) ;
  .text_ja {
    .sub {
      font: {
        size: 10pt ;
      }
      line-height: 1.2em ;
      margin: {
        top: -2px ;
        bottom: 6px ;
      }
    }
    margin: {
      bottom: -2px ;
    }
  }
  .text_en {
    .sub {
      font: {
        size: 8pt ;
      }
      line-height: 1.3em ;
    }
  }
}

$border_radius_of_document_info_box: 8px ;
$margin_left: 8px ;
$border_width: 1px ;
$height_base: 96px ;

$padding_width: $border_radius_of_document_info_box ;
$margin_bottom: $border_radius_of_document_info_box ;

$info_box_of_operators_margin_bottom: 32px ;

$width_of_each_color_area: 160px ;

@mixin colorBoxMarginSettingsInDocumentInfoBox( $left , $right ) {
  .color_box_48 , .color_box_32 {
    margin: {
      left: $left ;
      right: $right ;
    }
  }
}

%commonSettingsOfColorBox {
  border : solid $border_width #999 ;
  margin: {
    left: $margin_left ;
    bottom: $margin_bottom ;
  }
  padding : $padding_width ;
  @include colorBoxMarginSettingsInDocumentInfoBox( 0px , $border_radius_of_document_info_box ) ;
  .color_info {
    @include float_left ;
    width : 96px ;
    .web_color {
      font: {
        size : 12pt ;
      }
      @extend %text_en ;
    }
    .rgb_color {
      font: {
        size : 8pt;
      }
      @extend %text_en ;
    }
  }
}

@mixin sizeSettingsOfDocumentInfoBox( $width_base ) {
  $width: $width_base - ( $margin_left + $border_width * 2 + $padding_width * 2 ) ;
  width: $width ;
}

%documentInfoBoxNormal {
  @include sizeSettingsOfDocumentInfoBox( $width_main_content_center ) ;
}

%documentInfoBoxWide {
  @include sizeSettingsOfDocumentInfoBox( $width_main_content_wide ) ;
}
