@charset "utf-8" ;

@import '../../../fundamental_settings.scss' ;

%nameInDocument {
  @extend %floatLeft ;
    vertical: {
        align: middle ;
    }
    .text_ja {
        font: {
            size: 18pt ;
        }
        .sub {
            font: {
                size: 10pt ;
            }
            line-height: 1.3em ;
            margin: {
                top: -2px ;
                bottom: 6px ;
            }
        }
        margin: {
            bottom: -2px ;
        }
    }
    .text_en {
        font: {
            size: 10pt;
        }
        .sub {
            font: {
                size: 8pt ;
            }
            line-height: 1.3em ;
        }
    }
}

$border_radius_of_info_box: 9px ;
$margin_left: 16px ;
$border_width: 1px ;
$height_base: 96px ;

$padding_width: $border_radius_of_info_box ;
$margin_bottom: $border_radius_of_info_box ;

$info_box_of_operators_margin_bottom: 32px ;

$width_of_each_color_area: 160px ;

@mixin colorBoxMarginSettingsInDocumentInfoBox( $left , $right ) {
  .color_box_48 , .color_box_32 {
    margin: {
      left: $left ;
      right: $right ;
    }
  }
}

%commonSettingsOfColorBox {
    border : solid $border_width #999 ;
    margin: {
        left: $margin_left ;
        bottom: $margin_bottom ;
    }
    padding : $padding_width ;
    @include colorBoxMarginSettingsInDocumentInfoBox( 0px , $border_radius_of_info_box ) ;
    .color_info {
        @extend %floatLeft ;
        width : 96px ;
        .web_color {
            font: {
                size : 12pt ;
            }
            @extend %text_en ;
        }
        .rgb_color {
            font: {
                size : 8pt;
            }
            @extend %text_en ;
        }
    }
}

@mixin sizeSettingsOfDocumentInfoBox( $width_base , $height_base ) {
  $width: $width_base - ( $margin_left + $border_width * 2 + $padding_width * 2 );
  $height: $height_base - ( $margin_bottom + $border_width * 2 + $padding_width * 2 );

  width: $width ;
  height : $height ;
}

@mixin documentInfoBoxNormal( $height: 96px ) {
  @include sizeSettingsOfDocumentInfoBox( $width_main_content_center , $height ) ;
  @include border_radius( $border_radius_of_info_box ) ;
}

@mixin documentInfoBoxWide( $height: 96px ) {
  @include sizeSettingsOfDocumentInfoBox( $width_main_content_wide , $height ) ;
  @include border_radius( $border_radius_of_info_box ) ;
}

%infoBoxOfOperators {
  // 各鉄道会社の情報を格納する box
  .document_info_box_normal {
    @include documentInfoBoxNormal ;
    @extend %commonSettingsOfColorBox ;
  }
  // 鉄道会社の名称の領域
  .operator_name {
    @extend %nameInDocument ;
    $width_of_rounded_square: 72px ;
    width: $width_main_content_center - ( $width_of_rounded_square + $width_of_each_color_area ) ;
  }
  margin: {
    bottom: $info_box_of_operators_margin_bottom ;
  }
}