@charset "utf-8" ;

@import '../../fundamental_settings.scss' ;

$background_color_of_weekday: $jp_traditional_shimbashi_iro ;
$background_color_of_holiday: $jp_traditional_akamurasaki ;

@mixin colorSettingsOfStationTimetableHeaderInEachLine( $background_color , $text_color: $text_black_base_color ) {
  tr {
    td {
      .railway_line {
        background-color: $background_color ;
        color: $text_color ;
      }
    }
  }
}

%colorSettingsOfStationTimetableHeader {
    thead.ginza {
        @include colorSettingsOfStationTimetableHeaderInEachLine( $line_ginza_bgcolor , #fff ) ;
    }
    thead.marunouchi {
        @include colorSettingsOfStationTimetableHeaderInEachLine( $line_marunouchi_bgcolor , #fff ) ;
    }
    thead.marunouchi_branch {
        @include colorSettingsOfStationTimetableHeaderInEachLine( $line_tokyo_metro_marunouchi_b_bgcolor , #fff ) ;
    }
    thead.hibiya {
        @include colorSettingsOfStationTimetableHeaderInEachLine( $line_hibiya_bgcolor ) ;
    }
    thead.tozai {
        @include colorSettingsOfStationTimetableHeaderInEachLine( $line_tozai_bgcolor , #fff ) ;
    }
    thead.chiyoda {
        @include colorSettingsOfStationTimetableHeaderInEachLine( $line_chiyoda_bgcolor , #fff ) ;
    }
    thead.yurakucho {
        @include colorSettingsOfStationTimetableHeaderInEachLine( $line_yurakucho_bgcolor , #fff ) ;
    }
    thead.hanzomon {
        @include colorSettingsOfStationTimetableHeaderInEachLine( $line_hanzomon_bgcolor , #fff ) ;
    }
    thead.namboku {
        @include colorSettingsOfStationTimetableHeaderInEachLine( $line_namboku_bgcolor , #fff ) ;
    }
    thead.fukutoshin {
        @include colorSettingsOfStationTimetableHeaderInEachLine( $line_fukutoshin_bgcolor , #fff ) ;
    }
    thead.toei_mita {
        @include colorSettingsOfStationTimetableHeaderInEachLine( $line_toei_mita_bgcolor , #fff ) ;
    }
}

@mixin stationTimetableHeaderMainOperationDayBackgroundColor( $background_color ) {
  background-color: mix( $background_color , #fff , 70% ) ;
  border: {
    color: $background_color ;
  }
}

@mixin rows_of_train_times( $background_color ) {
  td.station_train_times.odd {
    background-color: mix( $background_color , #fff , 4% ) ;
  }
  td.station_train_times.even {
    background-color: mix( $background_color , #fff , 10% ) ;
  }
}

table.station_timetable.weekday {
  @include rows_of_train_times( $background_color_of_weekday ) ;
}

table.station_timetable.saturday_and_holiday {
  @include rows_of_train_times( $background_color_of_holiday ) ;
}