@charset "utf-8" ;

@import '../../../fundamental_settings.scss' ;

%baseOfLineCodeInPlatformInfoTab {
  .railway_line_code_32 {
    @extend %floatLeft ;
    margin: {
      right: 6px ;
    }
  }
  .yurakucho , .fukutoshin , .namboku , .toei_mita {
    @extend %floatLeft ;
  }
}

%textSettingsOfLineNameInPlatformInfoTab {
  .railway_line_name {
    @extend %baseOfLineCodeInPlatformInfoTab ;
    margin: {
      left: 8px ;
      right: 8px ;
      top: 4px ;
      bottom: 4px ;
    }
    .text {
      @extend %floatLeft ;
      .text_ja {
        font: {
          size: 10pt ;
        }
      }
      .text_en {
        font: {
          size: 7.5pt ;
        }
      }
    }
  }
}

%platformInfoTabUl {
  position: relative ;
  z-index: 1 ;
  padding: 0px ;
  margin: {
    top: 0px ;
    bottom: 0px ;
  }
}

%platformInfoTabLi {
  display: block;
  @extend %floatLeft ;
  @extend %link_in_div ;
  @extend %textSettingsOfLineNameInPlatformInfoTab ;
  list-style-type: none;
  &.displayed {
    border: {
      bottom: {
        style: solid ;
        color: #fff ;
      }
    }
  }
  &.hidden {
    cursor: pointer;
    cursor: hand;
  }
}

%tabContentsUl {
  padding: 0px;
  margin: 0px;
}

%tabContentsLi {
  clear: left;
  display: block;
  list-style-type: none;
  height: 300px;
  padding: 30px ;
  overflow: auto;
  &.hidden {
    display: none;
  }
}

%platformInfoContentBorder {
  border: {
    style: solid ;
    color: #ccc ;
  }
}

%platformInfoTabContent {
  $border_width: 1px ;
  #platform_info_tab_menu {
    ul#platform_info_tabs {
      @extend %platformInfoTabUl ;
      li.platform_info_tab {
        @extend %platformInfoContentBorder ;
        border: {
          width: $border_width ;
        }
        margin: {
          right: -1 * $border_width ;
        }
        @extend %platformInfoTabLi ;
      }
    }
  }
  #platform_info_tab_contents {
    clear: both ;
    position: relative ;
    z-index: 0 ;
    top: -1 * $border_width ;
    ul#tab_contents {
      @extend %tabContentsUl ;
      li.platform_info_tab_content {
        @extend %tabContentsLi ;
        @extend %platformInfoContentBorder ;
        border: {
          width: $border_width ;
        }
      }
    }
  }
}