@charset "utf-8" ;

// 表のタイトル（左端の列）の色の設定
@mixin backgroundColorOfTitleCellInPlatformInfo( $base_color ) {
  $color_left: $base_color ;
  $color_right: #f6f6f6 ;
  //
  background: $color_left ;
  // Firefox
  background: -moz-linear-gradient(left,
    #{$color_left},
    #{$color_right}
  );
  // Safari, Google Chrome
  background: -webkit-gradient(linear, left top, right top,
    from( #{$color_left} ),
    to( #{$color_right} )
  );
}