= render "common_content"

- content_for :right_contents do
  = passenger_survey_right_contents

= passenger_survey_title_of_each_station
%div{ id: :passenger_survey_contents }
  %div{ id: :passenge_survey_graph }
    = render "graph_of_each_station" , station: @station