= render "common_content"

- content_for :right_contents do
  = ::PassengerSurveyDecorator.render_right_contents

= passenger_survey_title_of_grouped_by_line
%div{ id: :passenger_survey_contents }
  = passenger_survey_table