@charset "utf-8";

$width_whole: 1200px ;

$yamato_ratio : 1.41 ; // 1.41421356
$golden_ratio: 1.62 ; // 1.618033988749895
$silver_ratio: 2.41 ; // 2.414213562373095
$bronze_ratio: 3.3 ; // 3.302775637731995

$base_r: $silver_ratio ;

$width_list_of_contents: $width_whole * 1.0 / ( 1 + 1 + $base_r ) - 10 ;
$width_main_content_center: $width_whole * $base_r / ( 1 + 1 + $base_r ) - 25 ;
$width_main_content_wide: $width_whole * ( 1 + $base_r ) / ( 1 + 1 + $base_r ) - 40 ;