@charset "utf-8";

@mixin common_link_settings( $normal_color , $visited_color , $hover_color , $active_color ) {
  %textDecorationNone {
    text-decoration: none ;
  }
  a {
    &:link {
      color: $normal_color ;
      text-decoration: underline ;
      text-decoration-color: #eee ;
    }
    &:visited {
      color: $visited_color ;
      @extend %textDecorationNone ;
    }
    &:hover {
      color: $hover_color ;
      @extend %textDecorationNone ;
    }
    &:active {
      color: $active_color ;
      @extend %textDecorationNone ;
    }
  }
}

%linkInDiv {
  position: relative ;
  a {
    display: block ;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 100%;
    height: 100%;
  }
}
