@charset "utf-8" ;

%margin4 {
    margin: 4px ;
}

%margin8 {
    margin: 8px ;
}

%margin12 {
    margin: 12px ;
}

%margin16 {
    margin: 16px ;
}

%margin32 {
    margin: 32px ;
}

%marginLeft4 {
    margin: {
        left: 4px ;
    }
}

%marginLeft8 {
    margin: {
        left: 8px ;
    }
}

%marginLeft12 {
    margin: {
        left: 12px ;
    }
}

%marginLeft16 {
    margin: {
        left: 16px ;
    }
}

%marginLeft32 {
    margin: {
        left: 32px ;
    }
}

%marginRight4 {
    margin: {
        right: 4px ;
    }
}

%marginRight8 {
    margin: {
        right: 8px ;
    }
}

%marginRight12 {
    margin: {
        right: 12px ;
    }
}

%marginRight16 {
    margin: {
        right: 16px ;
    }
}

%marginRight32 {
    margin: {
        right: 32px ;
    }
}

%marginTop4 {
    margin: {
        top: 4px ;
    }
}

%marginTop8 {
    margin: {
        top: 8px ;
    }
}

%marginTop12 {
    margin: {
        top: 12px ;
    }
}

%marginTop16 {
    margin: {
        top: 16px ;
    }
}

%marginTop32 {
    margin: {
        top: 32px ;
    }
}

%marginBottom4 {
    margin: {
        bottom: 4px ;
    }
}

%marginBottom8 {
    margin: {
        bottom: 8px ;
    }
}

%marginBottom12 {
    margin: {
        bottom: 12px ;
    }
}

%marginBottom16 {
    margin: {
        bottom: 16px ;
    }
}

%marginBottom32 {
    margin: {
        bottom: 32px ;
    }
}