@charset "utf-8" ;

%padding4 {
    padding: 4px ;
}

%padding8 {
    padding: 8px ;
}

%padding12 {
    padding: 12px ;
}

%padding16 {
    padding: 16px ;
}

%padding32 {
    padding: 32px ;
}

%paddingLeft4 {
    padding: {
        left: 4px ;
    }
}

%paddingLeft8 {
    padding: {
        left: 8px ;
    }
}

%paddingLeft12 {
    padding: {
        left: 12px ;
    }
}

%paddingLeft16 {
    padding: {
        left: 16px ;
    }
}

%paddingLeft32 {
    padding: {
        left: 32px ;
    }
}

%paddingRight4 {
    padding: {
        right: 4px ;
    }
}

%paddingRight8 {
    padding: {
        right: 8px ;
    }
}

%paddingRight12 {
    padding: {
        right: 12px ;
    }
}

%paddingRight16 {
    padding: {
        right: 16px ;
    }
}

%paddingRight32 {
    padding: {
        right: 32px ;
    }
}

%paddingTop4 {
    padding: {
        top: 4px ;
    }
}

%paddingTop8 {
    padding: {
        top: 8px ;
    }
}

%paddingTop12 {
    padding: {
        top: 12px ;
    }
}

%paddingTop16 {
    padding: {
        top: 16px ;
    }
}

%paddingTop32 {
    padding: {
        top: 32px ;
    }
}

%paddingBottom4 {
    padding: {
        bottom: 4px ;
    }
}

%paddingBottom8 {
    padding: {
        bottom: 8px ;
    }
}

%paddingBottom12 {
    padding: {
        bottom: 12px ;
    }
}

%paddingBottom16 {
    padding: {
        bottom: 16px ;
    }
}

%paddingBottom32 {
    padding: {
        bottom: 32px ;
    }
}