@charset "utf-8" ;
@import '../../fundamental_settings.scss' ;

@mixin borderColorOfEachOperatorHeaderInDocument( $color ) {
  .operator_name {
    border: {
      left: {
        color: $color ;
      }
    }
  }
}

%borderColorOfOperatorHeaderInDocument {
  &.tokyo_metro {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_tokyo_metro_bgcolor ) ;
  }
  &.toei_subway {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_toei_subway_bgcolor ) ;
  }
  &.toei {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_toei_bgcolor ) ;
  }
  &.toden {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_toden_bgcolor ) ;
  }
  &.jr_east {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_jr_east_bgcolor ) ;
  }
  &.jr_central {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_jr_central_bgcolor ) ;
  }
  &.tokyu {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_tokyu_bgcolor ) ;
  }
  &.yokohama_minatomirai {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_yokohama_minatomirai_bgcolor ) ;
  }
  &.odakyu {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_odakyu_bgcolor ) ;
  }
  &.hakone_tozan {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_hakone_tozan_bgcolor ) ;
  }
  &.seibu {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_seibu_bgcolor ) ;
  }
  &.tobu {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_tobu_bgcolor ) ;
  }
  &.saitama {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_saitama_bgcolor ) ;
  }
  &.toyo_rapid {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_toyo_rapid_bgcolor ) ;
  }
  &.keio {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_keio_bgcolor ) ;
  }
  &.keisei {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_keisei_bgcolor ) ;
  }
  &.tsukuba_exp {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_tsukuba_exp_bgcolor ) ;
  }
  &.yurikamome {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_yurikamome_bgcolor ) ;
  }
  &.rinkai {
    @include borderColorOfEachOperatorHeaderInDocument( $operator_rinkai_bgcolor ) ;
  }
}

%operatorNameInDocument {
  .operator_name {
    @include margin_bottom_16 ;
    border: {
      left: {
        style: solid ;
        width: 8px ;
      }
    }
    @include padding_left_8 ;
     @include font_ja_and_en( 16 , 5.0 / 8 ) ;
     // @include font_ja_and_en( 16 ) ;
    .text_ja {
      line-height: 1.1em ;
      @include margin_bottom_4 ;
    }
    .text_en {
      font: {
        weight: normal ;
      }
      line-height: 1.1em ;
      @include margin_top_bottom_0 ;
    }
    .same_as {
      @include margin_top_6 ;
      color: #999 ;
    }
  }
}

.document.operator {
  @include margin_bottom_32 ;
  @extend %operatorNameInDocument ;
  @extend %borderColorOfOperatorHeaderInDocument ;
  clear: both ;
}
