@charset "utf-8" ;

@import '../../fundamental_settings.scss' ;

%titleSettingsOfDocument {
  border: {
    left: solid 8px #aaa;
  }
  @include padding_left_8 ;
  @include margin_bottom_16 ;
}

.content_title {
  @extend %titleSettingsOfDocument ;
  h2 {
    font: {
      size: 20pt ;
    }
    line-height: 1.1em ;
  }
  h3 {
    font: {
      size: 10pt ;
      weight: normal ;
    }
    line-height: 1.1em ;
  }
}

h1#title {
  @extend %titleSettingsOfDocument ;
}
