@charset "utf-8";

@import '../common_mixins.scss' ;

//-------- color

$operator_color: $operator_tokyo_metro_bgcolor ;

//-------- text

$text_black_base_color: #222 ;

//-------- link

$link_normal_base_color: $text_black_base_color ;
$link_visited_color: desaturate( $operator_color , 10% ) ;
$link_hover_color: $jp_traditional_jinzamomi ;
$link_active_color: saturate( $operator_color , 30% ) ;

$link_hover_domain_color: $jp_traditional_aijiro ;