@charset "utf-8" ;

$jp_traditional_sakurairo: #fef4f4 ;
$jp_traditional_usuzakura: #fdeff2 ;
$jp_traditional_sakuranezu: #e9dfe5 ;
$jp_traditional_tokinezu: #e4d2d8 ;
$jp_traditional_nijiiro: #f6bfbc ;
$jp_traditional_kuchiba: #917347 ;
$jp_traditional_amairo: #d6c6af ;
$jp_traditional_tanko: #f8e58c ;
$jp_traditional_tanko_blight: #f7e17c ;
$jp_traditional_kinariiro: #fbfaf5 ;
$jp_traditional_hanaba_iro: #fbd26b ;

$jp_traditional_kogane: #e6b422 ;

$jp_traditional_byakugun: #83ccd2 ;
$jp_traditional_moegi: #aacf53 ;
$jp_traditional_kincha: #f39800 ;
$jp_traditional_jinzamomi: #ee827c ;
$jp_traditional_akamurasaki: #eb6ea5 ;
$jp_traditional_sango: #f5b1aa ;

$jp_traditional_ameiro: #deb068 ;
$jp_traditional_soshoku: #eae5e3 ;
$jp_traditional_hakuji: #f8fbf8 ;
$jp_traditional_geppaku: #eaf4fc ;
$jp_traditional_sumi_iro: #595857 ;
$jp_traditional_yokan_iro: #383c3c ;
$jp_traditional_kamenozoki: #a2d7dd ;
$jp_traditional_kompeki: #007bbb ;
$jp_traditional_urumi_iro: #c8c2be ;
$jp_traditional_aijiro: #ebf6f7 ;
$jp_traditional_shimbashi_iro: #59b9c6 ;
$jp_traditional_hiwa_iro: #d7cf3a ;
$jp_traditional_karashi: #d0af4c ;

$jp_traditional_mursaki_suisho: #e7e7eb ;
$jp_traditional_ayame_iro: #cc7eb1 ;
$jp_traditional_aomidori: #00a497 ;
$jp_traditional_wakame_iro: #e0ebaf ;