- # 有楽町線・副都心線の所要時間情報
- # @note 部分テンプレート travel_time_info_common を内部で呼び出す。
- # @version 2014.11.27.13.42
%div{ class: [ :railway_lines , "yurakucho_fukutoshin_travel_time" ] }
  = ::RailwayLineDecorator.render_travel_time_simple_infos_of_multiple_railway_lines( railway_lines )