@charset "utf-8";

$operator_tokyo_metro_bgcolor: #109ed4 ;
$operator_toei_subway_bgcolor: #009f40 ;
$operator_toei_bgcolor: #009f40 ;
$operator_toden_bgcolor: #009f40 ;
$operator_jr_east_bgcolor: #008000 ;
$operator_jr_central_bgcolor: #f77321 ;
$operator_tokyu_bgcolor: #ee0011 ;
$operator_yokohama_minatomirai_bgcolor: #09357f ;
$operator_odakyu_bgcolor: #2288cc ;
$operator_hakone_tozan_bgcolor: #2288cc ;
$operator_seibu_bgcolor: #87ceed ;
$operator_tobu_bgcolor: #005bac ;
$operator_saitama_bgcolor: #6699ff ;
$operator_toyo_rapid_bgcolor: #3fb036 ;
$operator_keio_bgcolor: #dd0077 ;
$operator_keisei_bgcolor: #005aaa ;
$operator_tsukuba_exp_bgcolor: #000084 ;
$operator_yurikamome_bgcolor: #27404e ;
$operator_rinkai_bgcolor: #00418e ;