@charset "utf-8";

$train_type_ginza_local_normal_color: #ffffff;
$train_type_marunouchi_local_normal_color: #ffffff;
$train_type_marunouchi_branch_local_normal_color: #ffffff;
$train_type_hibiya_local_normal_color: #ffffff;
$train_type_tozai_local_for_toyo_rapid_railway_color: #ffffff;
$train_type_tozai_local_for_mitaka_color: #333333;
$train_type_tozai_local_for_tsudanuma_color: #333333;
$train_type_tozai_local_normal_color: #ffffff;
$train_type_tozai_commuter_rapid_normal_color: #ffffff;
$train_type_tozai_commuter_rapid_for_mitaka_color: #ffffff;
$train_type_tozai_rapid_normal_color: #ffffff;
$train_type_tozai_rapid_for_mitaka_color: #ffffff;
$train_type_tozai_rapid_for_tsudanuma_color: #ffffff;
$train_type_tozai_rapid_for_toyo_rapid_railway_color: #ffffff;
$train_type_tozai_toyo_rapid_for_toyo_rapid_railway_color: #ffffff;
$train_type_chiyoda_local_kita_ayase_color: #ffffff;
$train_type_chiyoda_local_normal_color: #ffffff;
$train_type_chiyoda_local_for_jr_color: #ffffff;
$train_type_chiyoda_local_for_odakyu_color: #ffffff;
$train_type_chiyoda_semi_express_for_odakyu_color: #ffffff;
$train_type_chiyoda_tama_express_for_odakyu_color: #ffffff;
$train_type_chiyoda_romance_car_metro_hakone_saturdays_holidays_24_color: #ffffff;
$train_type_chiyoda_romance_car_metro_hakone_weekdays_21_color: #ffffff;
$train_type_chiyoda_romance_car_metro_home_way_weekdays_71_color: #ffffff;
$train_type_chiyoda_romance_car_metro_home_way_weekdays_41_color: #ffffff;
$train_type_chiyoda_romance_car_metro_home_way_weekdays_43_color: #ffffff;
$train_type_chiyoda_romance_car_metro_hakone_saturdays_holidays_21_color: #ffffff;
$train_type_chiyoda_romance_car_metro_hakone_saturdays_holidays_23_color: #ffffff;
$train_type_chiyoda_romance_car_metro_home_way_saturdays_holidays_43_color: #ffffff;
$train_type_chiyoda_romance_car_metro_sagami_weekdays_70_color: #ffffff;
$train_type_chiyoda_romance_car_metro_hakone_weekdays_22_color: #ffffff;
$train_type_chiyoda_romance_car_metro_sagami_saturdays_holidays_80_color: #ffffff;
$train_type_chiyoda_romance_car_metro_hakone_saturdays_holidays_22_color: #ffffff;
$train_type_chiyoda_romance_car_normal_color: #ffffff;
// $train_type_chiyoda_romance_car_standard_color: #ffffff;
$train_type_yurakucho_local_colored_color: #333333;
$train_type_yurakucho_local_normal_color: #ffffff;
$train_type_hanzomon_semi_express_to_tokyu_color: #ffffff;
$train_type_hanzomon_holiday_express_to_tokyu_color: #333333;
$train_type_hanzomon_local_to_tokyu_color: #ffffff;
$train_type_hanzomon_semi_express_to_tobu_color: #ffffff;
$train_type_hanzomon_express_to_tobu_color: #ffffff;
$train_type_hanzomon_express_to_tokyu_color: #ffffff;
$train_type_hanzomon_local_normal_color: #ffffff;
$train_type_namboku_express_to_tokyu_color: #ffffff;
$train_type_namboku_local_to_tokyu_color: #ffffff;
$train_type_namboku_local_normal_color: #ffffff;
$train_type_fukutoshin_local_colored_color: #ffffff;
$train_type_fukutoshin_local_normal_color: #ffffff;
$train_type_fukutoshin_commuter_express_normal_color: #ffffff;
$train_type_fukutoshin_holiday_express_normal_color: #333333;
$train_type_fukutoshin_express_normal_color: #ffffff;
$train_type_toei_asakusa_airport_limited_express_normal_color: #ffffff;
$train_type_toei_asakusa_local_normal_color: #ffffff;
$train_type_toei_mita_local_normal_color: #ffffff;
$train_type_toei_mita_express_to_tokyu_color: #ffffff;
$train_type_toei_mita_local_to_tokyu_color: #ffffff;
$train_type_toei_shinjuku_local_normal_color: #ffffff;
$train_type_toei_shinjuku_express_normal_color: #ffffff;
$train_type_toei_oedo_local_normal_color: #ffffff;
$train_type_yurakucho_fukutoshin_limited_express_to_tokyu_color: #333333;
$train_type_yurakucho_fukutoshin_commuter_limited_express_to_tokyu_color: #333333;
$train_type_yurakucho_fukutoshin_express_to_tokyu_color: #ffffff;
$train_type_yurakucho_fukutoshin_local_to_tokyu_color: #ffffff;
$train_type_yurakucho_fukutoshin_local_to_seibu_color: #ffffff;
$train_type_yurakucho_fukutoshin_rapid_to_seibu_color: #ffffff;
$train_type_yurakucho_fukutoshin_semi_express_to_seibu_color: #ffffff;
$train_type_yurakucho_fukutoshin_rapid_express_to_seibu_color: #ffffff;
$train_type_yurakucho_fukutoshin_local_to_tobu_tojo_color: #ffffff;

$train_type_ginza_local_normal_bgcolor: #666666;
$train_type_marunouchi_local_normal_bgcolor: #666666;
$train_type_marunouchi_branch_local_normal_bgcolor: #666666;
$train_type_hibiya_local_normal_bgcolor: #666666;
$train_type_tozai_local_for_toyo_rapid_railway_bgcolor: #666666;
$train_type_tozai_local_for_mitaka_bgcolor: #ffd400;
$train_type_tozai_local_for_tsudanuma_bgcolor: #ffd400;
$train_type_tozai_local_normal_bgcolor: #666666;
$train_type_tozai_commuter_rapid_normal_bgcolor: #cc6699;
$train_type_tozai_commuter_rapid_for_mitaka_bgcolor: #cc6699;
$train_type_tozai_rapid_normal_bgcolor: #6699ff;
$train_type_tozai_rapid_for_mitaka_bgcolor: #6699ff;
$train_type_tozai_rapid_for_tsudanuma_bgcolor: #6699ff;
$train_type_tozai_rapid_for_toyo_rapid_railway_bgcolor: #6699ff;
$train_type_tozai_toyo_rapid_for_toyo_rapid_railway_bgcolor: #6699ff;
$train_type_chiyoda_local_kita_ayase_bgcolor: #666666;
$train_type_chiyoda_local_normal_bgcolor: #666666;
$train_type_chiyoda_local_for_jr_bgcolor: #00b261;
$train_type_chiyoda_local_for_odakyu_bgcolor: #0c449b;
$train_type_chiyoda_semi_express_for_odakyu_bgcolor: #319f2d;
$train_type_chiyoda_tama_express_for_odakyu_bgcolor: #f13b9b;
$train_type_chiyoda_romance_car_metro_hakone_saturdays_holidays_24_bgcolor: #ff0000;
$train_type_chiyoda_romance_car_metro_hakone_weekdays_21_bgcolor: #ff0000;
$train_type_chiyoda_romance_car_metro_home_way_weekdays_71_bgcolor: #ff0000;
$train_type_chiyoda_romance_car_metro_home_way_weekdays_41_bgcolor: #ff0000;
$train_type_chiyoda_romance_car_metro_home_way_weekdays_43_bgcolor: #ff0000;
$train_type_chiyoda_romance_car_metro_hakone_saturdays_holidays_21_bgcolor: #ff0000;
$train_type_chiyoda_romance_car_metro_hakone_saturdays_holidays_23_bgcolor: #ff0000;
$train_type_chiyoda_romance_car_metro_home_way_saturdays_holidays_43_bgcolor: #ff0000;
$train_type_chiyoda_romance_car_metro_sagami_weekdays_70_bgcolor: #ff0000;
$train_type_chiyoda_romance_car_metro_hakone_weekdays_22_bgcolor: #ff0000;
$train_type_chiyoda_romance_car_metro_sagami_saturdays_holidays_80_bgcolor: #ff0000;
$train_type_chiyoda_romance_car_metro_hakone_saturdays_holidays_22_bgcolor: #ff0000;
$train_type_chiyoda_romance_car_normal_bgcolor: #ff0000;
// $train_type_chiyoda_romance_car_standard_bgcolor: #ff0000;
$train_type_yurakucho_local_colored_bgcolor: #d7c447;
$train_type_yurakucho_local_normal_bgcolor: #666666;
$train_type_hanzomon_semi_express_to_tokyu_bgcolor: #018d54;
$train_type_hanzomon_holiday_express_to_tokyu_bgcolor: #ff3399;
$train_type_hanzomon_local_to_tokyu_bgcolor: #0000ff;
$train_type_hanzomon_semi_express_to_tobu_bgcolor: #009900;
$train_type_hanzomon_express_to_tobu_bgcolor: #ff0000;
$train_type_hanzomon_express_to_tokyu_bgcolor: #ee0011;
$train_type_hanzomon_local_normal_bgcolor: #666666;
$train_type_namboku_express_to_tokyu_bgcolor: #ee0011;
$train_type_namboku_local_to_tokyu_bgcolor: #00b379;
$train_type_namboku_local_normal_bgcolor: #666666;
$train_type_fukutoshin_local_colored_bgcolor: #bb641d;
$train_type_fukutoshin_local_normal_bgcolor: #666666;
$train_type_fukutoshin_commuter_express_normal_bgcolor: #ff66cc;
$train_type_fukutoshin_holiday_express_normal_bgcolor: #ff99cc;
// $train_type_fukutoshin_holiday_express_normal_bgcolor: #ff3399;
$train_type_fukutoshin_express_normal_bgcolor: #ff0066;
$train_type_toei_asakusa_airport_limited_express_normal_bgcolor: #fd9a3d;
$train_type_toei_asakusa_local_normal_bgcolor: #666666;
$train_type_toei_mita_local_normal_bgcolor: #0078c2;
$train_type_toei_mita_express_to_tokyu_bgcolor: #ee0011;
$train_type_toei_mita_local_to_tokyu_bgcolor: #00b379;
$train_type_toei_shinjuku_local_normal_bgcolor: #6cbb5a;
$train_type_toei_shinjuku_express_normal_bgcolor: #ff0066;
$train_type_toei_oedo_local_normal_bgcolor: #b6007a;
$train_type_yurakucho_fukutoshin_limited_express_to_tokyu_bgcolor: #fd9a3d;
$train_type_yurakucho_fukutoshin_commuter_limited_express_to_tokyu_bgcolor: #ffcc66;
$train_type_yurakucho_fukutoshin_express_to_tokyu_bgcolor: #ee0011;
$train_type_yurakucho_fukutoshin_local_to_tokyu_bgcolor: #0000ff;
$train_type_yurakucho_fukutoshin_local_to_seibu_bgcolor: #666666;
$train_type_yurakucho_fukutoshin_rapid_to_seibu_bgcolor: #00ccff;
$train_type_yurakucho_fukutoshin_semi_express_to_seibu_bgcolor: #00cc99;
$train_type_yurakucho_fukutoshin_rapid_express_to_seibu_bgcolor: #cc6699;
$train_type_yurakucho_fukutoshin_local_to_tobu_tojo_bgcolor: #666666;