@charset "utf-8" ;

@import '../fundamental_settings.scss' ;
@import 'concerns/connecting_railway_line_info.scss' ;
@import 'concerns/link_to_railway_line_page/note_and_remark.scss' ;
@import 'railway_line/travel_time_infos/common_settings.scss' ;

table.travel_time_info , table.travel_time_info_main , table.travel_time_info_branch {
  @extend %commonSettingsOfTravelTimeInfo ;
}

td.transfer {
  @include padding_8 ;
  @extend %connectingRailwayLineInfo ;
  ul.railway_lines {
    @include float_left ;
    @extend %clearUlDefaultSettings ;
    li.railway_line {
      border: {
        color: #fff ;
      }
      @extend %infoAndRemarkSettingsInLinkToRailwayLine ;
    }
  }
}