@charset "utf-8" ;

@import '../fundamental_settings.scss' ;
@import 'concerns/connecting_railway_line_info.scss' ;

%lineCodeAndColorBoxInStationFacilityRailwayLineInfo {
  @extend %floatLeft ;
  @extend %margin4 ;
}

%stationFacilityRailwayLineInfo {
  ul {
    @extend %clearUlDefaultSettings ;
    @extend %marginBottom16 ;
    @extend %connectingRailwayLineInfo ;
    height: auto ;
  }
  clear: both ;
  padding: {
    bottom: 4px ;
  }
  .title {
    $font_size_ja: 12pt ;
    $font_size_en: $font_size_ja * 0.75 ;
    @extend %paddingLeft4 ;
    @extend %paddingRight16 ;
    @extend %marginBottom8 ;
    .text_ja {
      font: {
        size: $font_size_ja ;
        weight: bold ;
      }
    }
    .text_en {
      font: {
        size: $font_size_en ;
      }
    }
  }
}

%tokyoMetroRailwayLinesTitle {
  .title {
    $bgcolor: rgba( desaturate( $operator_color , 10% ) , 0.3 ) ;
    $color_stop_point_1_moz : 50% ;
    $color_stop_point_1_webkit : 0.5 ;
    $color_stop_point_2_moz : 80% ;
    $color_stop_point_2_webkit : 0.8 ;
    $color_1 : rgba( $bgcolor , 0.24 ) ;
    $color_2 : rgba( $bgcolor , 0.18 ) ;
    $color_3 : rgba( $bgcolor , 0.09 ) ;
    //
    background: $bgcolor ;
    // Firefox
    background: -moz-linear-gradient(top,
        #{$bgcolor},
        #{$color_1} #{$color_stop_point_1_moz},
        #{$color_2} #{$color_stop_point_2_moz} ,
        #{$color_3}
    );
    // Safari, Google Chrome
    background: -webkit-gradient(linear, left top, left bottom,
        from( #{$bgcolor} ),
        color-stop( #{$color_stop_point_1_webkit} , #{$color_1} ) ,
        color-stop( #{$color_stop_point_2_webkit} , #{$color_2} ) ,
        to( #{$color_3} )
    );
  }
}

%connectingRailwayLinesTitle {
  .title {
    $bgcolor: rgba( mix( $operator_color , $jp_traditional_yokan_iro , 60% ) , 0.2 ) ;
    $color_stop_point_1_moz : 50% ;
    $color_stop_point_1_webkit : 0.5 ;
    $color_stop_point_2_moz : 80% ;
    $color_stop_point_2_webkit : 0.8 ;
    $color_1 : rgba( $bgcolor , 0.16 ) ;
    $color_2 : rgba( $bgcolor , 0.12 ) ;
    $color_3 : rgba( $bgcolor , 0.06 ) ;
    //
    background: $bgcolor ;
    // Firefox
    background: -moz-linear-gradient(top,
        #{$bgcolor},
        #{$color_1} #{$color_stop_point_1_moz},
        #{$color_2} #{$color_stop_point_2_moz} ,
        #{$color_3}
    );
    // Safari, Google Chrome
    background: -webkit-gradient(linear, left top, left bottom,
        from( #{$bgcolor} ),
        color-stop( #{$color_stop_point_1_webkit} , #{$color_1} ) ,
        color-stop( #{$color_stop_point_2_webkit} , #{$color_2} ) ,
        to( #{$color_3} )
    );
  }
}

#tokyo_metro_railway_lines {
  @extend %stationFacilityRailwayLineInfo ;
  @extend %tokyoMetroRailwayLinesTitle ;
  ul.railway_lines {
    li.railway_line {
      border: {
        color: #ddd ;
      }
      a {
        background-color: transparent ;
      }
    }
    .railway_lines_in_another_station {
      clear: both ;
      height: auto ;
    }
  }
}

#other_railway_lines {
  @extend %stationFacilityRailwayLineInfo ;
  @extend %connectingRailwayLinesTitle ;
  ul.railway_lines {
    li.railway_line {
      list-style: none ;
      border: {
          color: #ddd ;
      }
    }
  }
}


%stationFacilityInsideAndOutside {
  @extend %floatLeft ;
  padding: {
    left: 0px ;
  }
  margin: {
    top: 0px ;
  }
  @extend %marginLeft32 ;
  @extend %marginBottom8 ;
  clear: both ;
  // width: 360px ;
  li {
    list-style: none ;
  }
  .title {
    @extend %marginBottom8 ;
    @extend %floatLeft ;
    border: {
      bottom: dotted 1px $operator_color ;
    }
    $font_size_ja: 12pt ;
    $font_size_en: $font_size_ja * 0.75 ;
    font: {
      size: $font_size_ja ;
    }
    .text_en {
      // @extend %floatLeft ;
      font: {
        size: $font_size_en ;
      }
      margin: {
        left: 6px ;
      }
    }
  }
}

%commonSettingsOfServiceDetail {
  @extend %floatLeft ;
  border: {
    left: {
      style: solid ;
      width: 4px ;
    }
  }
  padding: 4px ;
}

@mixin colorSettingsOfServiceDetail( $border_color ) {
  border: {
    left: {
      color: $border_color ;
    }
  }
  background-color: mix( $border_color , #fff , 20% ) ;
}

%serviceDetailPreciseInfo {
  @extend %floatLeft ;
  @extend %marginRight8 ;
  font: {
    size: 8pt ;
  }
  padding: {
    left: 4px ;
    right: 4px ;
    top: 2px ;
    bottom: 2px ;
  }
  text-align:center;
  @include border_radius( 2px ) ;
}

//--------

%stationFacilityInfoNumber {
  .number {
    @extend %floatLeft ;
    color: #aaa ;
    width: 32px ;
    font: {
      size: 6pt ;
    }
  }
}

%stationFacilityInfoImage {
  img.barrier_free_facility {
    @extend %floatLeft ;
    height: 48px ;
    width: auto ;
  }
}

%stationFacilityInfoServiceDetailOperationDay {
  .operation_day {
    @extend %floatLeft ;
    @extend %serviceDetailPreciseInfo ;
    border: solid 1px #eee ;
    background-color: #fafafa ;
  }
}

%stationFacilityInfoServiceDetailEscalatorDirection {
  .service_detail {
    // @extend %floatLeft ;
    // @extend %marginBottom4 ;
    .escalator_direction {
      @extend %floatLeft ;
      @extend %serviceDetailPreciseInfo ;
      @extend %marginBottom4 ;
      border: solid 1px $jp_traditional_aomidori ;
      background-color: rgba( $jp_traditional_aomidori , 0.12 ) ;
    }
  }
}

%stationFacilityInfoServiceDetailServiceTime {
  .service_time {
    display: block ;
    @extend %commonSettingsOfServiceDetail ;
    margin: {
      bottom: 2px ;
    }
  }
}

%stationFacilityInfoServiceDetailToiletAssistants {
  ul.toilet_assistants {
    @extend %marginBottom4 ;
    padding: {
      left: 0px ;
    }
    li.toilet_assistant {
      @extend %serviceDetailPreciseInfo ;
      border: solid 1px $jp_traditional_kamenozoki ;
      background-color: rgba( $jp_traditional_kamenozoki , 0.12 ) ;
      
      list-style: none ;
    }
  }
  img.toilet_assistant {
    $length: 24px ;
    width: $length ;
    height: $length ;
  }
}

%stationFacilityInfoServiceDetailWheelChair {
  .wheel_chair {
      display: block ;
      @extend %serviceDetailPreciseInfo ;
      border: solid 1px $jp_traditional_kamenozoki ;
      background-color: rgba( $jp_traditional_kamenozoki , 0.12 ) ;
  }
}

%stationFacilityInfoServiceDetailRemark {
  .remark {
    @extend %commonSettingsOfServiceDetail ;
  }
}

#station_facility_infos {
  ul#station_facility_info {
    padding: {
      left: 0px ;
    }
    margin: {
      top: 0px ;
      bottom: 0px ;
    }
    li {
      &.elevator , &.escalator , &.toilet , &.link_for_mobility_scooter , &.stairlift {
        list-style: none ;
      }
    }
  }
  .title {
    clear: both ;
    @extend %marginBottom8 ;
    border: {
      bottom: solid 1px $operator_color ;
    }
    $font_size_ja: 14pt ;
    $font_size_en: $font_size_ja * 0.75 ;
    @extend %floatLeft ;
    font: {
      size: $font_size_ja ;
    }
    .text_en {
      // @extend %floatLeft ;
      font: {
        size: $font_size_en ;
      }
      margin: {
        left: 7px ;
      }
    }
  }
  ul.inside , ul.outside {
    @extend %stationFacilityInsideAndOutside ;
  }
  .facility {
    clear: both ;
    @extend %marginLeft16 ;
    @extend %marginBottom8 ;
    .image_and_number {
      @extend %floatLeft ;
      @extend %stationFacilityInfoNumber ;
      @extend %stationFacilityInfoImage ;
    }
    .info {
      clear: none ;
      @extend %floatLeft ;
      // @extend %marginRight4 ;
      font: {
        size: 9pt ;
      }
      .place {
        font: {
          size: 10pt ;
        }
        @extend %marginBottom4 ;
        display: block ;
      }
      %commonSettingsOfUlServiceDetail {
        padding: {
          left: 0px ;
        }
      }
      //
      ul.service_details {
        @extend %commonSettingsOfUlServiceDetail ;
        ul.service_detail {
          @extend %commonSettingsOfUlServiceDetail ;
          list-style: none ;
          li {
            list-style: none ;
          }
        }
        .service_time {
          @include colorSettingsOfServiceDetail( $jp_traditional_moegi ) ;
        }
      }
      @extend %stationFacilityInfoServiceDetailOperationDay ;
      @extend %stationFacilityInfoServiceDetailEscalatorDirection ;
      @extend %stationFacilityInfoServiceDetailServiceTime ;
      @extend %stationFacilityInfoServiceDetailToiletAssistants ;
      @extend %stationFacilityInfoServiceDetailWheelChair ;
      @extend %stationFacilityInfoServiceDetailRemark ;
      //
      .remark {
        @include colorSettingsOfServiceDetail( $jp_traditional_jinzamomi ) ;
      }
    }
  }
}