@charset "utf-8" ;

@import '../fundamental_settings.scss' ;
@import 'concerns/connecting_railway_line_info.scss' ;

%stationFacilityRailwayLineInfo {
  ul {
    @extend %clearUlDefaultSettings ;
    @extend %connectingRailwayLineInfo ;
    @include margin_bottom_16 ;
    height: auto ;
  }
  clear: both ;
  padding: {
    bottom: 4px ;
  }
}

#tokyo_metro_railway_lines {
  @extend %stationFacilityRailwayLineInfo ;
  ul.railway_lines {
    li.railway_line {
      border: {
        color: #ddd ;
      }
      a {
        background-color: transparent ;
      }
    }
    .railway_lines_in_another_station {
      clear: both ;
      height: auto ;
    }
  }
}

#other_railway_lines {
  @extend %stationFacilityRailwayLineInfo ;
  ul.railway_lines {
    li.railway_line {
      list-style: none ;
      border: {
          color: #ddd ;
      }
    }
  }
}


%stationFacilityInsideAndOutside {
  @include padding_left_0 ;
  @include margin_top_0 ;
  @include margin_left_32 ;
  @include margin_bottom_8 ;
  @include float_left ;
  clear: both ;
  // width: 360px ;
  li {
    list-style: none ;
  }
  .title_of_each_area {
    @include margin_bottom_8 ;
    border: {
      bottom: dotted 1px $operator_color ;
    }
    $font_size_ja: 12pt ;
    $font_size_en: $font_size_ja * 0.75 ;
    font: {
      size: $font_size_ja ;
    }
    .text_en {
      font: {
        size: $font_size_en ;
      }
      margin: {
        left: 6px ;
      }
    }
  }
}

%commonSettingsOfServiceDetail {
  @include float_left ;
  border: {
    left: {
      style: solid ;
      width: 4px ;
    }
  }
  padding: 4px ;
}

@mixin colorSettingsOfServiceDetail( $border_color ) {
  border: {
    left: {
      color: $border_color ;
    }
  }
  background-color: mix( $border_color , #fff , 20% ) ;
}

%serviceDetailPreciseInfo {
  @include float_left ;
  @include margin_right_8 ;
  @include padding_top_bottom_2 ;
  @include padding_left_right_4 ;
  font: {
    size: 8pt ;
  }
  text-align:center;
  @include border_radius( 2px ) ;
}

//--------

%stationFacilityInfoNumber {
  .number {
    @include float_left ;
    color: #aaa ;
    width: 32px ;
    font: {
      size: 6pt ;
    }
  }
}

%stationFacilityInfoImage {
  img.barrier_free_facility {
    @include float_left ;
    height: 48px ;
    width: auto ;
  }
}

%stationFacilityInfoServiceDetailOperationDay {
  .operation_day {
    @include float_left ;
    @extend %serviceDetailPreciseInfo ;
    border: solid 1px #eee ;
    background-color: #fafafa ;
  }
}

%stationFacilityInfoServiceDetailEscalatorDirection {
  .service_detail {
    .escalator_direction {
      @include float_left ;
      @extend %serviceDetailPreciseInfo ;
      border: solid 1px $jp_traditional_aomidori ;
      background-color: rgba( $jp_traditional_aomidori , 0.12 ) ;
    }
  }
}

%stationFacilityInfoServiceDetailServiceTime {
  .service_time {
    display: block ;
    @extend %commonSettingsOfServiceDetail ;
  }
}

%stationFacilityInfoServiceDetailToiletAssistants {
  ul.toilet_assistants {
    @include margin_bottom_4 ;
    padding: {
      left: 0px ;
    }
    li.toilet_assistant {
      @extend %serviceDetailPreciseInfo ;
      border: solid 1px $jp_traditional_kamenozoki ;
      background-color: rgba( $jp_traditional_kamenozoki , 0.12 ) ;
      list-style: none ;
    }
  }
  img.toilet_assistant {
    $length: 24px ;
    width: $length ;
    height: $length ;
  }
}

%stationFacilityInfoServiceDetailWheelChair {
  .wheel_chair {
    display: block ;
    @extend %serviceDetailPreciseInfo ;
    border: solid 1px $jp_traditional_kamenozoki ;
    background-color: rgba( $jp_traditional_kamenozoki , 0.12 ) ;
  }
}

%stationFacilityInfoServiceDetailRemark {
  .remark {
    @extend %commonSettingsOfServiceDetail ;
  }
}

#station_facility_infos {
  ul#station_facility_info {
    @include padding_left_0 ;
    @include margin_top_0 ;
    @include margin_bottom_0 ;
    li {
      &.elevator , &.escalator , &.toilet , &.link_for_mobility_scooter , &.stairlift {
        list-style: none ;
      }
    }
  }
  #station_facility_info {
    .title {
      clear: both ;
      @include float_left ;
      @include margin_bottom_16 ;
      border: {
        bottom: solid 1px $operator_color ;
      }
      $font_size_ja: 14pt ;
      $font_size_en: $font_size_ja * 0.75 ;
      font: {
        size: $font_size_ja ;
      }
      span.text_en {
        font: {
          size: $font_size_en ;
        }
        margin: {
          left: 7px ;
        }
      }
    }
  }
  ul.inside , ul.outside {
    @extend %stationFacilityInsideAndOutside ;
  }
  .facility {
    clear: both ;
    @include margin_left_16 ;
    @include margin_bottom_8 ;
    .image_and_number {
      @include float_left ;
      @extend %stationFacilityInfoNumber ;
      @extend %stationFacilityInfoImage ;
    }
    .info {
      clear: none ;
      @include float_left ;
      font: {
        size: 9pt ;
      }
      .place {
        font: {
          size: 10pt ;
        }
        @include margin_bottom_4 ;
        display: block ;
      }
      %commonSettingsOfUlServiceDetail {
        padding: {
          left: 0px ;
        }
      }
      //
      ul.service_details {
        @extend %commonSettingsOfUlServiceDetail ;
        ul.service_detail {
          @extend %commonSettingsOfUlServiceDetail ;
          @include margin_bottom_2 ;
          list-style: none ;
          li {
            list-style: none ;
          }
        }
        .service_time {
          @include colorSettingsOfServiceDetail( $jp_traditional_moegi ) ;
        }
      }
      @extend %stationFacilityInfoServiceDetailOperationDay ;
      @extend %stationFacilityInfoServiceDetailEscalatorDirection ;
      @extend %stationFacilityInfoServiceDetailServiceTime ;
      @extend %stationFacilityInfoServiceDetailToiletAssistants ;
      @extend %stationFacilityInfoServiceDetailWheelChair ;
      @extend %stationFacilityInfoServiceDetailRemark ;
      //
      .remark {
        @include colorSettingsOfServiceDetail( $jp_traditional_jinzamomi ) ;
      }
    }
  }
}