@charset "utf-8" ;

@import '../fundamental_settings.scss' ;

%trainLocationContentFontSizeSmall {
  .text_ja {
    font: {
      size: 10pt ;
    }
    .small {
      font: {
        size: 7pt ;
      }
    }
  }
  .text_en {
    font: {
      size: 7pt ;
    }
  }
}

%trainLocationContentTitleSmall {
  @extend %trainLocationContentFontSizeSmall ;
}

%trainLocationContentTitleSmallInARow {
  font: {
    size: 10pt ;
  }
  .small {
    font: {
      size: 7pt ;
    }
  }
  .text_en {
    font: {
      size: 7pt ;
    }
    @extend %marginLeft4 ;
  }
}

%trainLocationContentFontSizeLarge {
  .text_ja {
    font: {
      size: 12pt ;
    }
    .small {
      font: {
        size: 8.4pt ;
      }
    }
  }
  .text_en {
    font: {
      size: 9pt ;
    }
    .small {
      font: {
        size: 7.2pt ;
      }
    }
  }
}

%trainLocationContentTitleLarge {
  @extend %trainLocationContentFontSizeLarge ;
}

%trainLocationContentTitleLargeInARow {
  font: {
    size: 12pt ;
  }
  .small {
    font: {
      size: 8.4pt ;
    }
  }
  .text_en {
    font: {
      size: 9pt ;
    }
    @extend %marginLeft4 ;
  }
}

%trainLocationStartingStation {
  @extend %trainLocationContentFontSizeSmall ;
  @extend %marginRight8 ;
}

// --------

%railwayLineMatrixInTrainLocation {
  .railway_line_matrix_small {
    @extend %floatLeft ;
    height: 120px ;
  }
}

// --------

%terminalStationInTrainLocation {
  .terminal_station {
    @extend %marginBottom8 ;
    @extend %marginLeft8 ;
    @extend %marginRight8 ;
    @extend %trainLocationContentFontSizeLarge ;
    clear: both ;
    .station_codes {
      @extend %floatLeft ;
      margin: {
        right: 5px ;
      }
      font: {
        size: 8pt ;
      }
      img {
        $length: 30px ;
        width: $length ;
        height: $length ;
      }
    }
    .text {
      @extend %floatLeft ;
    }
  }
}

// --------

ul.train_locations_of_each_direction {
  @extend %clearUlDefaultSettings ;
  @include margin_bottom_16 ;
  li.train_location {
    list-style: none ;
    border: solid 1px #999 ;
    margin: {
      bottom: -1px ;
    }
    @extend %railwayLineMatrixInTrainLocation ;
    //
    .train_fundamental_infos {
      @include float_left ;
      background-color: #f9f9f9 ;
      .railway_line_matrix_very_small {
        @include margin_bottom_8 ;
      }
    }
    @extend %terminalStationInTrainLocation ;
    .sub_infos {
      @include float_left ;
    }
  }
}

// --------

ul.train_locations_of_each_direction { li.train_location { .sub_infos { .time_info {
  @include margin_bottom_32 ;
  @include padding_top_bottom_4 ;
  @include padding_left_right_8 ;
  .title_of_delay {
    @include float_left ;
    @include margin_right_8 ;
  }
  .time {
    @include float_left ;
    font: {
      size: 12pt ;
      weight: bold ;
    }
  }
}}}}

// --------

ul.train_locations_of_each_direction { li.train_location { .current_position {
  @include float_left ;
  border: {
    left: solid 4px #fff ;
    right: solid 4px #fff ;
  }
  .title_of_current_position {
    @extend %trainLocationContentTitleSmallInARow ;
    @include padding_8 ;
    background-color: #666 ;
    color: #fff ;
  }
  .station_infos {
    @include padding_16 ;
    .arrow {
      @include margin_top_4 ;
      @include margin_bottom_4 ;
      @include margin_left_32 ;
    }
    .station_info {
      .station_codes {
        @include float_left ;
        @include margin_right_4 ;
      }
      .text {
        @include float_left ;
        @extend %trainLocationContentFontSizeLarge ;
      }
      img {
        $length: 30px ;
        width: $length ;
        height: $length ;
      }
    }
  }
}}}

// --------

ul.train_locations_of_each_direction { li.train_location { .train_type {
  @include float_left ;
  @include margin_bottom_8 ;
  @include margin_left_right_8 ;
  @include padding_top_bottom_4 ;
  @include padding_left_right_8 ;
  clear: both ;
  @extend %trainLocationContentTitleSmallInARow ;
}}}

// --------

ul.train_locations_of_each_direction { li.train_location { .sub_infos { .starting_station {
  @include margin_bottom_8 ;
  @include padding_left_8 ;
  @include padding_right_8 ;
  .starting_station_title {
    @include float_left ;
    @include margin_right_8 ;
  }
  .station_info {
    @include float_left ;
    .station_codes {
      @include float_left ;
      font: {
        size: 8pt ;
      }
      @include margin_right_4 ;
    }
    .text {
      @include float_left ;
    }
    img {
      $length: 24px ;
      width: $length ;
      height: $length ;
    }
  }
}}}}

// --------

ul.train_locations_of_each_direction { li.train_location { .sub_infos { .train_number {
  @include margin_bottom_8 ;
  @include padding_left_right_8 ;
  .title_of_train_number {
    @include float_left ;
    @include margin_right_8 ;
    @extend %trainLocationContentTitleSmall ;
  }
  .train_number_text {
    @include float_left ;
    font: {
      size: 12pt ;
    }
  }
}}}}

// --------

ul.train_locations_of_each_direction { li.train_location { .sub_infos {
  .starting_station {
    .starting_station_title {
      @extend %trainLocationContentTitleSmall ;
    }
    .station_info {
      .text {
        @extend %trainLocationContentFontSizeSmall ;
      }
    }
  }
  .time_info {
    .title_of_delay {
      @extend %trainLocationContentTitleSmall ;
    }
  }
}}}

// --------

%titleOfRailwayLineAndRailwayDirectionInTrainLoations {
  padding: 8px ;
  h3 , h4 , h5 {
    font: {
      weight: normal ;
    }
  }
  @extend %marginBottom16 ;
}

// --------

#train_location_infos {
  .title_of_a_railway_line {
    background-color: #ddd ;
    @extend %titleOfRailwayLineAndRailwayDirectionInTrainLoations ;
  }
  .title_of_a_railway_direction {
    @extend %titleOfRailwayLineAndRailwayDirectionInTrainLoations ;
  }
}