= render "common_content"

- station_ids = @station.station_facility.stations.pluck( :id )
- @railway_lines = ::RailwayLine.find( ::Station.where( id: station_ids ).pluck( :railway_line_id ).uniq.sort )

= train_information_title_of_each_station
= station_info_links

- content_for :right_contents do
  = twitter_railway_line_info