@charset "utf-8" ;

$cycle_bgcolor_of_odd_row: #fff ;
$cycle_bgcolor_of_even_row: #f6f6f6 ;

@mixin cycle_of_row_color {
    tr.odd_row {
        background-color: $cycle_bgcolor_of_odd_row ;
    }
    tr.even_row {
        background-color: $cycle_bgcolor_of_even_row ;
    }
}

@mixin cycle_of_cell_color {
    td.odd_row {
        background-color: $cycle_bgcolor_of_odd_row ;
    }
    td.even_row {
        background-color: $cycle_bgcolor_of_even_row ;
    }
}