@charset "utf-8" ;
%cycleOfRowColor {
  tr.odd_row {
    background-color: #fff ;
  }
  tr.even_row {
    background-color: #f9f9f9 ;
  }
}
%cycleOfCellColor {
  td.odd_cell {
    background-color: #fff ;
  }
  td.even_cell {
    background-color: #f9f9f9 ;
  }
}
