@charset "utf-8" ;
@import '../../fundamental_settings.scss' ;

#links_to_station_info_pages {
  padding: {
    bottom: 8px ;
  }
  .links {
    height: 32px ;
    .link {
      @extend %floatLeft ;
      @extend %marginRight16 ;
    }
  }
}