@charset "utf-8" ;

@import '../../fundamental_settings.scss' ;

#station_list {
    clear: both ;
    $width_base: 144px ;
    $column_padding_right: 16px ;
    %column_width_settings {
        width: $width_base ;
    }
    %column_padding_settings {
        padding: {
            right: $column_padding_right ;
        }
    }
    %column_settings {
		@extend %floatLeft ;
        @extend %column_width_settings ;
        @extend %column_padding_settings ;
    }
    %letter_group_settings {
        margin: {
            bottom: 16px ;
        }
        h4 {
            $unit: 12 ;
            width: $width_base * ( $unit - 1 ) / $unit ;
            border: {
                bottom: solid 1px $operator_color ;
            }
        }
    }
    .hiragana_column {
        @extend %column_settings ;
        .hiragana {
            @extend %letter_group_settings ;
        }
    }
    .alphabet_column {
        @extend %column_settings ;
        .alphabet {
            @extend %letter_group_settings ;
        }
    }
}