@charset "utf-8" ;
@import '../../fundamental_settings.scss' ;

#station_info_links {
    padding: {
        bottom: 8px ;
    }
    .links {
        height: 32px ;
        .link {
			@extend %floatLeft ;
            @extend %marginRight16 ;
        }
    }
}