@charset "utf-8" ;

%fontSettingsOfTravelTimeInfo {
    $font_size_text_ja: 12pt ;
    $font_size_text_small: $font_size_text_ja * 0.75 ;
    .text_ja {
        font: {
            size: $font_size_text_ja ;
            weight: bold ;
        }
        .small {
            font: {
                size: $font_size_text_small ;
                weight: normal ;
            }
        }
        line-height: 1.3em ;
    }
    .text_en {
        font: {
            size: $font_size_text_small ;
        }
        line-height: 1.2em ;
    }
}