@charset "utf-8" ;

@import 'common_settings.scss' ;

@mixin colorSettingsOfTravelTimeInfo( $background_color , $text_color_on_background: #fff , $text_color_on_travel_time_square: $text_black_base_color ) {
    .railway_line_column {
        background-color: $background_color ;
        color: $text_color_on_travel_time_square ;
    }
    .travel_time {
        background-color: $background_color ;
        color: $text_color_on_background ;
    }
}

@mixin travel_time_info_each_line( $bgcolor , $text_color_on_background: #fff , $text_color_on_travel_time_square: $text_black_base_color ) {
  table.travel_time_info {
    @include colorSettingsOfTravelTimeInfo( $bgcolor , $text_color_on_background , $text_color_on_travel_time_square ) ;
  }
}

table {
  &.travel_time_info {
    @extend %commonSettingsOfTravelTimeInfo ;
  }
 &.travel_time_info_main {
    @extend %commonSettingsOfTravelTimeInfo ;
  }
 &.travel_time_info_branch {
    @extend %commonSettingsOfTravelTimeInfo ;
  }
}


.railway_line.ginza_travel_time {
    @include travel_time_info_each_line( $line_ginza_bgcolor ) ;
}
.railway_lines.marunouchi_travel_time {
    table.travel_time_info_main {
        @include colorSettingsOfTravelTimeInfo( $line_marunouchi_bgcolor ) ;
    }
    table.travel_time_info_branch {
        @include colorSettingsOfTravelTimeInfo( $line_marunouchi_bgcolor ) ;
    }
}
.railway_line.hibiya_travel_time {
    @include colorSettingsOfTravelTimeInfo( $line_hibiya_bgcolor ) ;
}
.railway_line.tozai_travel_time {
    @include colorSettingsOfTravelTimeInfo( $line_tozai_bgcolor ) ;
}
.railway_line.chiyoda_travel_time {
    @include colorSettingsOfTravelTimeInfo( $line_chiyoda_bgcolor ) ;
}
.railway_line.yurakucho_travel_time {
    @include colorSettingsOfTravelTimeInfo( $line_yurakucho_bgcolor ) ;
}
.railway_line.hanzomon_travel_time {
    @include colorSettingsOfTravelTimeInfo( $line_hanzomon_bgcolor ) ;
}
.railway_line.namboku_travel_time {
    @include colorSettingsOfTravelTimeInfo( $line_namboku_bgcolor ) ;
}
.railway_line.fukutoshin_travel_time {
    @include colorSettingsOfTravelTimeInfo( $line_fukutoshin_bgcolor ) ;
}
.railway_line.toei_mita_travel_time {
    @include colorSettingsOfTravelTimeInfo( $line_toei_mita_bgcolor ) ;
}