@charset "utf-8" ;

@import '../../fundamental_settings.scss' ;

%contentHeaderSettings {
  // background-color: #666 ;
  background-color: desaturate( $operator_color , 80% ) ;
  color: #fff ;
  padding: 8px ;
  .icon {
    width: 64px ;
    @include float_left ;
    @include margin_right_8 ;
  }
  .icon , .icons {
    @include float_left ;
    @include margin_right_8 ;
    text-align: center ;
  }
  .icons {
    .icon {
      margin: 0px ;
    }
  }
  .text {
    @include float_left ;
    @include margin_right_16 ;
  }
}

#train_operation_infos {
  .title_of_train_operation_infos {
    @extend %contentHeaderSettings ;
  }
  .title_of_train_location_infos {
    @extend %contentHeaderSettings ;
  }
}

//--------

.content_header , .selection_header {
  @extend %contentHeaderSettings ;
  .text_ja {
    font: {
      size: 12pt ;
      weight: normal ;
    }
  }
  .text_en {
    font: {
      size: 9pt ;
      weight: normal ;
    }
  }
}

.passenger_info_header {
  @extend %contentHeaderSettings ;
  .text_ja {
    font: {
      size: 8pt ;
      weight: normal ;
    }
  }
  .text_en {
    font: {
      size: 6pt ;
      weight: normal ;
    }
  }
}