@charset "utf-8" ;

@import '../../fundamental_settings.scss' ;

%contentHeaderCommonSettings {
  // background-color: #666 ;
  background-color: desaturate( $operator_color , 80% ) ;
  padding: 8px ;
  .icon {
    width: 64px ;
  }
  .icon , .icons {
    @include float_left ;
    @include margin_right_8 ;
    text-align: center ;
  }
  .icons {
    .icon {
      margin: 0px ;
    }
  }
  .text {
    @include float_left ;
    @include margin_right_16 ;
  }
}

%contentHeaderWhite {
  color: #fff ;
}

.content_header , .selection_header {
  @extend %contentHeaderCommonSettings ;
  $font_size_ja: 12pt ;
  $font_size_en: $font_size_ja * 0.75 ;
  .text_ja {
    font: {
      size: $font_size_ja ;
      weight: normal ;
    }
  }
  .text_en {
    font: {
      size: $font_size_en ;
      weight: normal ;
    }
  }
}

//--------

#train_operation_infos {
  .title_of_train_operation_infos {
    @extend %contentHeaderCommonSettings ;
    @extend %contentHeaderWhite ;
  }
  .title_of_train_location_infos {
    @extend %contentHeaderCommonSettings ;
    @extend %contentHeaderWhite ;
  }
}

#select_railway_line {
  @extend %contentHeaderWhite ;
}

#select_station_from_railway_line {
  @extend %contentHeaderWhite ;
}

#select_station_from_list {
  @extend %contentHeaderWhite ;
}

.twitter_header {
  @extend %contentHeaderWhite ;
}

.real_time_infos  {
  @extend %contentHeaderWhite ;
}

//--------

//---- 現在不使用

.passenger_info_header {
  @extend %contentHeaderCommonSettings ;
  @extend %contentHeaderWhite ;
  .text_ja {
    font: {
      size: 8pt ;
      weight: normal ;
    }
  }
  .text_en {
    font: {
      size: 6pt ;
      weight: normal ;
    }
  }
}