@charset "utf-8" ;

@import '../../fundamental_settings.scss' ;

%contentHeadeSettings {
  // background-color: #666 ;
  background-color: desaturate( $operator_color , 80% ) ;
  color: #fff ;
  padding: 8px ;
  .icon {
    width: 64px ;
    @extend %floatLeft ;
    @extend %marginRight8 ;
  }
  .icon , .icons {
    @extend %floatLeft ;
    @extend %marginRight8 ;
  }
  .icons {
    .icon {
      margin: 0px ;
    }
  }
  .text {
    @extend %floatLeft ;
    @extend %marginRight16 ;
  }
}

#train_operation_infos {
  .title_of_train_operation_infos {
    @extend %contentHeadeSettings ;
  }
  .title_of_train_locations {
    @extend %contentHeadeSettings ;
  }
}

//--------

.content_header , .selection_header {
  @extend %contentHeadeSettings ;
  .text_ja {
    font: {
      size: 12pt ;
      weight: normal ;
    }
  }
  .text_en {
    font: {
      size: 9pt ;
      weight: normal ;
    }
  }
}

.passenger_info_header {
  @extend %contentHeadeSettings ;
  .text_ja {
    font: {
      size: 8pt ;
      weight: normal ;
    }
  }
  .text_en {
    font: {
      size: 6pt ;
      weight: normal ;
    }
  }
}

//--------

#real_time_info_and_update_button , #twitters {
  border: solid 1px #333 ;
  @extend %marginBottom8 ;
  .content_header {
    .icon {
      width: 32px ;
      @extend %marginRight8 ;
    }
    .update_button {
      @extend %floatRight ;
    }
  }
}