@charset "utf-8" ;

@import '../../fundamental_settings.scss' ;
@import 'sub_content_settings.scss' ;

@import 'link_ul/li_hover_bg_normal.scss' ;
@import 'link_ul/li_hover_bg_same_category.scss' ;

$icon_common_width: 32px ;
$width_of_li_border_in_link: 1px ;
$border_color_of_li_in_link: #ddd ;

//-------- 領域の基本設定 (float, list-style, border, margin)

%domainBaseSettingsOfHorizontalLinks {
  li {
    @extend %liBaseSettingsInLinkUl ;
    margin: {
      right: -1 * $width_of_li_border_in_link ;
    }
  }
}

//-------- 共通設定

%commonSettingsOfLiInLinkUl {
  height: auto ;
  margin: {
    top: 0px ;
  }
  padding: {
    left: 0px ;
  }
  //
  li.normal , li.small {
    @extend %liBaseSettingsInLinkUl ;
    //
    margin: {
      bottom: -1 * $width_of_li_border_in_link ;
    }
    .text , .text_large , .model_name {
      @extend %floatLeft ;
    }
    div.icon {
      @extend %floatLeft ;
      @extend %marginRight4 ;
    }
    .link_type {
      @extend %floatRight ;
    }
    .text_en {
      color: #999 ;
    }
  }
  li.normal {
    .text_large , .text_ja {
      font: {
        size: 12pt ;
      }
    }
    .text_en {
      font: {
        size: 9pt ;
      }
    }
  }
  li.small {
    div.icon {
      width: $icon_common_width ;
      height: $icon_common_width ;
    }
    .text_large , .text_ja {
      font: {
        size: 9pt ;
      }
    }
    .text_en {
      font: {
        size: 6.75pt ;
      }
    }
  }
}

//-------- 左側サイドメニューの大きさの設定

//---- 幅の設定

%liWidthSettingsOfLeftSideMenu {
  li {
    // width: floor( $width_of_left_contents * $bronze_ratio / ( $bronze_ratio + 1 ) ) ;
    // width: ceil( $width_of_left_contents * 0.9 ) ;
    width: $width_of_left_contents - $side_menu_padding ;
  }
}

//---- 境界線の設定

%liBorderSettingsOfLeftSideMenu {
  li {
    border: {
      top: {
        style: dotted ;
        width: $width_of_li_border_in_link ;
        color: $border_color_of_li_in_link ;
      }
      bottom: {
        style: dotted ;
        width: $width_of_li_border_in_link ;
        color: $border_color_of_li_in_link ;
      }
    }
  }
}

//-------- 外部サイト、別ウィンドウのアイコンの設定

%iconToExternalPageInLinkLi {
  .link_to_another_website , .open_another_window {
    float: right ;
  }
  .open_another_window {
    color: #ddd ;
  }
  .link_to_another_website {
    color: #aaa ;
  }
}

//-------- Top ページヘのリンクの文字サイズ

%linksToMainContentsTop {
  .top {
    .text_ja {
      @extend %text_en ;
    }
  }
}

//-------- アイコンの設定

%imageInLinkLi18 {
  div.icon {
    $length: 18px ;
    width: $length ;
    height: $length ;
    img {
      width: $length ;
      height: $length ;
    }
  }
}

%imageInLinkLi32 {
  div.icon {
    $length: 32px ;
    width: $length ;
    height: $length ;
    img {
      width: $length ;
      height: $length ;
    }
    @extend %marginRight8 ;
  }
}

%smallImageIconInLinkLi {
  li.small {
    @extend %imageInLinkLi18 ;
  }
}

%smallImageIconInLinkLiWithDomainOfNormalWidth {
  li {
    div.icon {
      $width: 32px ;
      $height: 18px ;
      width: $width ;
      height: $height ;
      img {
        width: $height ;
        height: $height ;
      }
    }
  }
}

%largeImageIconInLinkLi {
  li.normal {
    @extend %imageInLinkLi32 ;
  }
}

//-------- マウスオーバー時の文字色・背景色の設定（一般）

%liHoverIconSettingsInLinkUl {
  .icon {
    color: saturate( mix( #aaa , $operator_color ) , 20% ) ;
  }
}

%liHoverTextSettingsInLinkUl {
  .text_large , .text_en {
    color: mix( #aaa , $operator_color ) ;
  }
}

%liSameCategoryColorSettingsInLinkUl {
  .icon {
    color: saturate( $operator_color , 20% ) ;
  }
  .text_large , .text_en {
    color: $operator_color ;
  }
}

%linkHoverSettingsOfLeftSideMenu {
  li.hover {
    @extend %liHoverBgNormalInLinkUl ;
    @extend %liHoverIconSettingsInLinkUl ;
    @extend %liHoverTextSettingsInLinkUl ;
  }
}

%linkHoverSettingsOfLinkToDocumentPages {
  li.hover {
    @extend %liHoverBgNormalInLinkUl ;
    @extend %liHoverIconSettingsInLinkUl ;
    @extend %liHoverTextSettingsInLinkUl ;
  }
}

%linkHoverSettingsOfLinkToStationInfoPages {
  @extend %linkHoverSettingsOfLinkToDocumentPages ;
}

%linkHoverSettingsOfLinkToSameCategoryPage {
  li.same_category {
    @extend %liHoverBgSameCategoryInLinkUl ;
    @extend %liSameCategoryColorSettingsInLinkUl ;
  }
}

//-------- 路線関連のページへのリンクの設定

%commonSettingsOfLinkLiToRailwayLineRelatedPages {
  .railway_line_code_32 {
    @extend %marginRight8 ;
  }
  @extend %domainBaseSettingsOfHorizontalLinks ;
  border: solid 1px #ccc ;
  li.railway_line {
    .railway_line_code_32 , .text {
      @extend %floatLeft ;
    }
  }
}

//--------------------------------

%marginOfDivLinkToContent {
  .link_to_content {
    margin: 4px ;
  }
}

ul#links_to_main_contents , ul#links_to_other_websites , ul#links_to_documents , ul#links_to_document_pages , ul#links_to_railway_line_pages , ul#links_to_railway_line_pages_of_this_station , ul#links_to_year_pages , ul#links_to_station_pages , #links_to_station_info_pages ul#links {
  .link_to_document , .link_to_other_website {
    margin: 4px ;
  }
  .link_to_railway_line_page {
    margin: 8px ;
  }
}

//-------- サイドメニュー

ul#links_to_main_contents {
  @extend %liWidthSettingsOfLeftSideMenu ;
  @extend %liBorderSettingsOfLeftSideMenu ;
  @extend %linksToMainContentsTop ;
  @extend %largeImageIconInLinkLi ;
  @extend %linkHoverSettingsOfLeftSideMenu ;
  @extend %linkHoverSettingsOfLinkToSameCategoryPage ;
  @extend %commonSettingsOfLiInLinkUl ;
  @extend %marginBottom16 ;
  //
  @extend %marginOfDivLinkToContent ;
}

ul#links_to_other_websites {
  @extend %liWidthSettingsOfLeftSideMenu ;
  @extend %liBorderSettingsOfLeftSideMenu ;
  @extend %iconToExternalPageInLinkLi ;
  @extend %smallImageIconInLinkLiWithDomainOfNormalWidth ;
  @extend %linkHoverSettingsOfLeftSideMenu ;
  @extend %linkHoverSettingsOfLinkToSameCategoryPage ;
  @extend %commonSettingsOfLiInLinkUl ;
  @extend %marginBottom16 ;
  //
  @extend %marginOfDivLinkToContent ;
}

ul#links_to_documents {
  @extend %liWidthSettingsOfLeftSideMenu ;
  @extend %liBorderSettingsOfLeftSideMenu ;
  @extend %iconToExternalPageInLinkLi ;
  @extend %smallImageIconInLinkLiWithDomainOfNormalWidth ;
  @extend %linkHoverSettingsOfLeftSideMenu ;
  @extend %linkHoverSettingsOfLinkToSameCategoryPage ;
  @extend %commonSettingsOfLiInLinkUl ;
  @extend %marginBottom16 ;
  //
  @extend %marginOfDivLinkToContent ;
}

//-------- ドキュメントへのリンク

ul#links_to_document_pages {
  //
  //---- 準用
  @extend %liWidthSettingsOfLeftSideMenu ;
  @extend %liBorderSettingsOfLeftSideMenu ;
  //----
  //
  @extend %smallImageIconInLinkLi ;
  @extend %linkHoverSettingsOfLinkToDocumentPages ;
  @extend %commonSettingsOfLiInLinkUl ;
  @extend %marginBottom16 ;
  //
  @extend %marginOfDivLinkToContent ;
}

//-------- 路線ページヘのリンク

ul#links_to_railway_line_pages {
  @extend %largeImageIconInLinkLi ;
  @extend %commonSettingsOfLiInLinkUl ;
  //
  @extend %marginOfDivLinkToContent ;
}

ul#links_to_railway_line_pages_of_this_station {
  @extend %largeImageIconInLinkLi ;
  @extend %commonSettingsOfLiInLinkUl ;
  //
  @extend %marginOfDivLinkToContent ;
}

//-------- 乗降客数 年度別ページヘのリンク

ul#links_to_railway_line_pages , ul#links_to_railway_line_pages_of_this_station , ul#links_to_year_pages {
  @extend %smallImageIconInLinkLiWithDomainOfNormalWidth ;
  @extend %commonSettingsOfLinkLiToRailwayLineRelatedPages ;
  @extend %commonSettingsOfLiInLinkUl ;
  //
  @extend %marginOfDivLinkToContent ;
}

ul#links_to_year_pages {
  li.tokyo_metro {
    @extend %imageInLinkLi32 ;
    .link_to_operator_page {
      margin: 8px ;
    }
    &.hover {
      @extend %liHoverBgNormalInLinkUl ;
      @extend %liHoverIconSettingsInLinkUl ;
      @extend %liHoverTextSettingsInLinkUl ;
    }
  }
  li.survey_year {
    &.hover {
      @extend %liHoverBgOperatorSurveyYearInLinkUl ;
      @extend %liHoverIconSettingsInLinkUl ;
    }
  }
}

ul#links_to_year_pages.on_index_page {
  li.survey_year {
    &.hover {
      @extend %liHoverBgOperatorSurveyYearInLinkUl ;
    }
  }
}

//-------- 駅ページヘのリンク

ul#links_to_station_pages {
  @extend %largeImageIconInLinkLi ;
  @extend %commonSettingsOfLiInLinkUl ;
  //
  @extend %marginOfDivLinkToContent ;
}

#links_to_station_info_pages {
  ul#links {
    @extend %largeImageIconInLinkLi ;
  }
  ul#links_to_station_facility_info_of_connecting_other_stations {
    @extend %smallImageIconInLinkLiWithDomainOfNormalWidth ;
    @extend %floatLeft ;
  }
  ul#links , ul#links_to_station_facility_info_of_connecting_other_stations {
    border: dotted 1px #ccc ;
    @extend %domainBaseSettingsOfHorizontalLinks ;
    @extend %linkHoverSettingsOfLinkToStationInfoPages ;
    @extend %linkHoverSettingsOfLinkToSameCategoryPage ;
    @extend %commonSettingsOfLiInLinkUl ;
    //
    @extend %marginOfDivLinkToContent ;
  }
}