@charset "utf-8" ;

@import '../../fundamental_settings.scss' ;

#now_developing {
  border: solid 1px desaturate( $jp_traditional_jinzamomi , 20% ) ;
  @extend %floatLeft ;
  @extend %marginBottom16 ;
  .content_header {
    background-color: $jp_traditional_jinzamomi ;
    color: #fff ;
  }
  .info_text {
    padding: 8px ;
    background-color: rgba( $jp_traditional_jinzamomi , 0.2 ) ;
    .text_ja {
      font: {
        size: 9pt;
      }
      @extend %marginBottom8 ;
    }
    .text_en {
      font: {
        size: 6.75pt;
      }
    }
  }
}