@charset "utf-8" ;

@import 'travel_time_infos/common_settings.scss' ;

td.transfer {
    padding: {
        top: 3px ;
        bottom: 3px ;
    }
    margin: {
        bottom: 6px ;
    }
    @extend %connectingRailwayLineInfo ;
}