= render "common_content"

- content_for :right_contents do
  = @twitter_processor.render

= ::Railway::Line::InfoDecorator::Title.render_in_station_timetable_page( @railway_lines )
%div{ id: :station_timetable_contents }
