= render "common_content"

= @station_info.decorate.render_title_of_fare
%div{ id: :fare_contents }
  %div{ id: :fare_infos }
    = @station_info.decorate.render_fare_title_of_this_station
  = fare_tables