= render "common_content"

= ::TokyoMetro::App::Renderer::Concerns::Header::Title::DocumentContent.new( request , @title_ja , @title_en ).render

%ul{ id: :operators , class: :in_document }
  - @operator_infos.each do | operator_info |
    = operator_info.decorate.in_document.render
