= render "common_content"

= ::TokyoMetro::App::Renderer::Concerns::Header::Title::DocumentContent.new( request , @title_ja , @title_en ).render

%ul{ id: :operators , class: :in_document }
  - @operators.each do | operator |
    = operator.decorate.in_document.render
