= render "common_content"

= ::TokyoMetro::App::Renderer::Concern::Header::Title::DocumentContent.new( request , @title_ja , @title_en ).render

%div{ id: :operators }
  - @operators.each do | operator |
    = operator.decorate.render_document_info_box