= render "common_content"

= document_title_of_each_content( @title_ja , @title_en )
%div{ id: :train_owners }
  - @train_owners.each do | train_owner |
    = train_owner.decorate.render_document_info_box