= render "common_content"

= ::TokyoMetro::App::Renderer::Concerns::Header::Title::DocumentContent.new( request , @title_ja , @title_en ).render

%div{ id: :train_owners }
  - @train_owners.each do | train_owner |
    = train_owner.decorate.render_document_info_box
