= render "common_content"

- content_for :right_contents do
  = twitter_tokyo_metro

= render_top_title( text_ja: ::ApplicationHelper.common_title_ja , text_en: ::ApplicationHelper.common_title_en , id: :top_title )