= render "common_content"

- content_for :right_contents do
  = twitter_official

= render_top_title( common_title_ja: ::ApplicationHelper.common_title_ja , common_title_en: ::ApplicationHelper.common_title_en , id: :top_title )