= render "common_content"

%h1{ id: "title" } ご利用上の注意
%p
  このWebサイトは、「東京メトロ10周年記念 オープンデータ活用コンテスト」のために作成したものです。
  %ul
    %li<
      = link_to( "東京メトロ 10th anniversary" , "http://tokyometro10th.jp/" )
    %li<
      = link_to( "オープンデータ活用コンテスト Top" , "http://tokyometro10th.jp/future/opendata/index.html" )