@charset "utf-8" ;
@import '../../fundamental_settings.scss' ;

%commonSettingsOfLineCodeAndColorBoxInConnectingRailwayLineInfo {
  @extend %floatLeft ;
}

%settingsOfLineCodeAndColorBoxInConnectingRailwayLineInfo_48 {
  margin: {
    right: 9px ;
  }
}
%settingsOfLineCodeAndColorBoxInConnectingRailwayLineInfo_32 {
  margin: {
    right: 6px ;
  }
}

%textSettingsOfLineCodeAndColorBoxInConnectingRailwayLineInfo {
  $font_size_ja: 10pt ;
  .text_ja {
    font: {
      size: $font_size_ja ;
    }
  }
  .text_en {
    font: {
      size: $font_size_ja * 0.75 ;
    }
  }
}

%railwayLineConnectingToAnotherStation {
  .another_station {
    @extend %floatLeft ;
    @extend %marginLeft4 ;
    // @include border_radius( 2px ) ;
    background-color: #eee ;
    border: solid 1px #999 ;
    padding: 4px ;
    $font_size_ja: 8pt ;
    .text_ja {
      font-size: $font_size_ja ;
    }
    .text_en {
      font-size: $font_size_ja * 0.6 ;
    }
  }
}

%connectingRailwayLineCleared {
  .cleared {
    clear: both ;
  }
}

%connectingRailwayLineNotRecommended {
  .not_recommended {
    border: {
      style: dotted ;
    }
  }
}

%connectingRailwayLineOfTokyoMetro {
  li.tokyo_metro {
    @extend %linkInDiv ;
    // border: {
      // color: #ccc ;
    // }
    a {
      background-color: transparent ;
    }
    // @extend %connectingRailwayLineCleared ;
    // @extend %connectingRailwayLineNotRecommended ;
  }
}

%connectingRailwayLineOfOtherOperator {
  li.other_operators {
    border: {
      // color: #ccc ;
      // color: #ddd ;
    }
    // @extend %connectingRailwayLineCleared ;
    // @extend %connectingRailwayLineNotRecommended ;
  }
}

%connectingRailwayLineInfo {
  @extend %textSettingsOfLineCodeAndColorBoxInConnectingRailwayLineInfo ;
  @extend %connectingRailwayLineOfTokyoMetro ;
  // @extend %connectingRailwayLineOfOtherOperator ;
  @extend %railwayLineConnectingToAnotherStation ;
  li.railway_line {
    @extend %floatLeft ;
    @extend %linkInDiv ;
    padding: 6px ;
    margin: {
      right: -1px ;
      bottom: -1px ;
    }
    border: {
      style: solid ;
      width: 1px ;
    }
    list-style: none ;
    //
    .railway_line_code_48 {
      @extend %commonSettingsOfLineCodeAndColorBoxInConnectingRailwayLineInfo ;
      @extend %settingsOfLineCodeAndColorBoxInConnectingRailwayLineInfo_48 ;
    }
    .color_box_48 {
      @extend %commonSettingsOfLineCodeAndColorBoxInConnectingRailwayLineInfo ;
      @extend %settingsOfLineCodeAndColorBoxInConnectingRailwayLineInfo_48 ;
    }
    .railway_line_code_32 {
      @extend %commonSettingsOfLineCodeAndColorBoxInConnectingRailwayLineInfo ;
      @extend %settingsOfLineCodeAndColorBoxInConnectingRailwayLineInfo_32 ;
    }
    .color_box_32 {
      @extend %commonSettingsOfLineCodeAndColorBoxInConnectingRailwayLineInfo ;
      @extend %settingsOfLineCodeAndColorBoxInConnectingRailwayLineInfo_32 ;
    }
    .text {
      @extend %commonSettingsOfLineCodeAndColorBoxInConnectingRailwayLineInfo ;
    }
  }
}