@charset "utf-8" ;

@import 'railway_line_and_station_matrixes/railway_line_codes.scss' ;

%fundamentalSettingsOfRailwayLineAndStationMatrixes {
  @extend %floatLeft ;
  border: solid 1px #333 ;
}

%fundamentalSettingsOfStationDomainInStationMatrixes {
  padding: {
    top: 8px ;
    bottom: 8px ;
    left: 16px ;
    right: 16px ;
  }
}

%textSettingsOfRailwayLineMatrixes {
  .text_ja {
    font: {
      size: 20pt ;
      weight: bold ;
    }
  }
  .text_en {
    font: {
      size: 10pt ;
    }
  }
}

#railway_lines , #train_operation_infos , #station_matrixes , #train_operation_infos {
  .each_line {
    @extend %settingsOfRailwayLineCodeInRailwayLineMatrix_48 ;
    @extend %settingsOfRailwayLineCodeInRailwayLineMatrix_32 ;
  }
  .multiple_lines.yurakucho_fukutoshin {
    @extend %railwayLineCodesInRailwayLineMatrixesYurakuchoFukutoshin ;
    .text_ja {
      clear: left ;
    }
    .yurakucho {
      // background-color:transparent ;
      @extend %floatLeft ;
    }
    .fukutoshin {
      // background-color:transparent ;
      @extend %floatLeft ;
    }
  }
}

%marginBottomMinus1 {
  margin: {
    bottom: -1px ;
  }
}

%marginRightMinus1 {
  margin: {
    right: -1px ;
  }
}

%commonSettingsInRailwayLineMatrixNormalAndSmall {
  @extend %fundamentalSettingsOfRailwayLineAndStationMatrixes ;
  @extend %linkInDiv ;
  @extend %textSettingsOfRailwayLineMatrixes ;
  @extend %marginBottomMinus1 ;
  @extend %marginRightMinus1 ;
}

%railwayLineCodeOuterFloatLeft {
  .info {
    .railway_line_code_outer {
      @extend %floatLeft ;
      @extend %marginRight8 ;
    }
  }
}

%commonSettingsInRailwayLineMatrixOfAllTypes {
  .info {
    @extend %marginLeft8 ;
    @extend %marginRight8 ;
  }
}

%infoTextFloatLeftInRailwayLineMatrix {
  .info {
    .text {
      @extend %floatLeft ;
    }
  }
}

#railway_lines , #train_operation_infos {
  .railway_line_matrix {
    height: 128px ;
    text-align: center;
    @extend %commonSettingsInRailwayLineMatrixNormalAndSmall ;
    @extend %commonSettingsInRailwayLineMatrixOfAllTypes ;
  }
  height: auto ;
  @extend %marginBottom32 ;
}

%railwayLineMatrixSmall {
  .railway_line_matrix_small {
    @extend %commonSettingsInRailwayLineMatrixNormalAndSmall ;
    @extend %railwayLineCodeOuterFloatLeft ;
    @extend %commonSettingsInRailwayLineMatrixOfAllTypes ;
    @extend %infoTextFloatLeftInRailwayLineMatrix ;
  }
}

%railwayLineMatrixVerySmall {
  .railway_line_matrix_very_small {
    @extend %commonSettingsInRailwayLineMatrixOfAllTypes ;
    @extend %floatLeft ;
    @extend %infoTextFloatLeftInRailwayLineMatrix ;
    .text_ja {
      font: {
        size: 12pt ;
        // weight: bold ;
      }
    }
    .text_en {
      font: {
        size: 9pt ;
      }
    }
    .info {
      @extend %marginTop8 ;
      @extend %marginBottom8 ;
      .railway_line_code_outer_small {
        @extend %floatLeft ;
        @extend %marginRight8 ;
      }
    }
  }
}

%stationMatrixesStation {
  @extend %floatLeft ;
  @extend %marginRight8 ;
  font: {
    size: 10.5pt ;
  }
  .small {
    font: {
      size: 8.4pt ;
    }
  }
}

%stationMatrixesStations {
  @extend %fundamentalSettingsOfRailwayLineAndStationMatrixes ;
  @extend %fundamentalSettingsOfStationDomainInStationMatrixes ;
  @extend %marginBottomMinus1 ;
}

%stationMatrixesStationsOnMainLine {
  @extend %fundamentalSettingsOfRailwayLineAndStationMatrixes ;
  @extend %fundamentalSettingsOfStationDomainInStationMatrixes ;
  border: {
    bottom: none ;
  }
  margin-bottom: 0px ;
}

%stationMatrixesStationsOnBranchLine {
  @extend %fundamentalSettingsOfRailwayLineAndStationMatrixes ;
  @extend %fundamentalSettingsOfStationDomainInStationMatrixes ;
  @extend %marginBottomMinus1 ;
  border: {
    top: none ;
  }
}

#station_matrixes , #train_operation_infos {
  .railway_line {
    clear: both ;
    @extend %railwayLineMatrixSmall ;
  }
  @extend %marginBottom16 ;
}

li.train_location {
  @extend %railwayLineMatrixVerySmall ;
}

//--------

#station_matrixes {
  .railway_line {
    @extend %marginBottomMinus1 ;
    .station {
      @extend %stationMatrixesStation ;
    }
    .stations {
      @extend %stationMatrixesStations ;
    }
    .stations_on_main_line {
      @extend %stationMatrixesStationsOnMainLine ;
    }
    .stations_on_branch_line {
      @extend %stationMatrixesStationsOnBranchLine ;
    }
  }
}