@charset "utf-8" ;

@import 'railway_line_and_station_matrixes/railway_line_codes.scss' ;
@import 'railway_line_and_station_matrixes/color_settings.scss' ;

%fundamentalSettingsOfRailwayLineAndStationMatrixes {
  @extend %floatLeft ;
  border: solid 1px #333 ;
}

%fundamentalSettingsOfStationDomainInStationMatrixes {
  padding: {
    top: 8px ;
    bottom: 8px ;
    left: 16px ;
    right: 16px ;
  }
  @include backgroundColorOfRailwayLineMatrixesNormal( #eee ) ;
}

%colorAndLinkSettingsOfTextInRailwayLineAndStationMatrixes {
  @include common_link_settings( $link_normal_base_color , $link_visited_color , $link_hover_color , $link_active_color ) ;
  @extend %link_in_div ;
}

%textSettingsOfRailwayLineMatrixes {
  .text_ja {
    font: {
      size: 20pt ;
      weight: bold ;
    }
  }
  .text_en {
    font: {
      size: 10pt ;
    }
  }
}

%contentsIncludedInRailwayLineMatrixes {
    .each_line {
        @extend %settingsOfRailwayLineCodeInRailwayLineMatrix_48 ;
    }
    .each_line.ginza {
        @include backgroundColorOfRailwayLineMatrixesNormal( $line_ginza_bgcolor ) ;
        // @extend %settingsOfRailwayLineCodeInRailwayLineMatrix_48 ;
    }
    .each_line.marunouchi {
        @include backgroundColorOfRailwayLineMatrixesNormal( $line_marunouchi_bgcolor ) ;
        // @extend %settingsOfRailwayLineCodeInRailwayLineMatrix_48 ;
    }
    .each_line.hibiya {
        @include backgroundColorOfRailwayLineMatrixesHibiya( $line_hibiya_bgcolor ) ;
        // @extend %settingsOfRailwayLineCodeInRailwayLineMatrix_48 ;
    }
    .each_line.tozai {
        @include backgroundColorOfRailwayLineMatrixesNormal( $line_tozai_bgcolor ) ;
        // @extend %settingsOfRailwayLineCodeInRailwayLineMatrix_48 ;
    }
    .each_line.chiyoda {
        @include backgroundColorOfRailwayLineMatrixesNormal( $line_chiyoda_bgcolor ) ;
        // @extend %settingsOfRailwayLineCodeInRailwayLineMatrix_48 ;
    }
    .each_line.yurakucho {
        @include backgroundColorOfRailwayLineMatrixesYurakucho( $line_yurakucho_bgcolor ) ;
        // @extend %settingsOfRailwayLineCodeInRailwayLineMatrix_48 ;
    }
    .each_line.hanzomon {
        @include backgroundColorOfRailwayLineMatrixesNormal( $line_hanzomon_bgcolor ) ;
        // @extend %settingsOfRailwayLineCodeInRailwayLineMatrix_48 ;
    }
    .each_line.namboku {
        @include backgroundColorOfRailwayLineMatrixesNormal( $line_namboku_bgcolor ) ;
        // @extend %settingsOfRailwayLineCodeInRailwayLineMatrix_48 ;
    }
    .each_line.fukutoshin {
        @include backgroundColorOfRailwayLineMatrixesNormal( $line_fukutoshin_bgcolor ) ;
        // @extend %settingsOfRailwayLineCodeInRailwayLineMatrix_48 ;
    }
    .each_line.toei_mita {
        @include backgroundColorOfRailwayLineMatrixesNormal( $line_toei_mita_bgcolor ) ;
        // @extend %settingsOfRailwayLineCodeInRailwayLineMatrix_48 ;
    }
    .multiple_lines.yurakucho_fukutoshin {
        @include backgroundColorOfRailwayLineMatrixesYurakuchoFukutoshin( $line_fukutoshin_bgcolor ) ;
        // @extend %settingsOfRailwayLineCodeInRailwayLineMatrix_48 ;
        @extend %railwayLineCodesInRailwayLineMatrixesYurakuchoFukutoshin ;
        .text_ja {
            clear: left ;
        }
        .yurakucho {
          // background-color:transparent ;
          @extend %floatLeft ;
        }
        .fukutoshin {
          // background-color:transparent ;
          @extend %floatLeft ;
        }
    }
}

%marginBottomMinus1 {
  margin: {
    bottom: -1px ;
  }
}

%marginRightMinus1 {
  margin: {
    right: -1px ;
  }
}

#railway_lines , #train_operation_infos {
  @extend %contentsIncludedInRailwayLineMatrixes ;
  .railway_line_matrix {
    height: 128px ;
    text-align: center;
    @extend %fundamentalSettingsOfRailwayLineAndStationMatrixes ;
    @extend %colorAndLinkSettingsOfTextInRailwayLineAndStationMatrixes ;
    @extend %textSettingsOfRailwayLineMatrixes ;
    @extend %marginBottomMinus1 ;
    @extend %marginRightMinus1 ;
  }
  height: auto ;
  @extend %marginBottom32 ;
}

%railwayLineMatrixSmall {
  .railway_line_matrix_small {
    @extend %fundamentalSettingsOfRailwayLineAndStationMatrixes ;
    @extend %colorAndLinkSettingsOfTextInRailwayLineAndStationMatrixes ;
    @extend %textSettingsOfRailwayLineMatrixes ;
    @extend %marginBottomMinus1 ;
    @extend %marginRightMinus1 ;
    .info {
      @extend %marginLeft8 ;
      @extend %marginRight8 ;
      .railway_line_code_outer {
        @extend %floatLeft ;
        @extend %marginRight8 ;
      }
      .text {
        @extend %floatLeft ;
      }
    }
  }
}

%stationMatrixesStation {
  @extend %floatLeft ;
  @extend %marginRight8 ;
  font: {
    size: 10.5pt ;
  }
  .small {
    font: {
      size: 8.4pt ;
    }
  }
}

%stationMatrixesStations {
  @extend %fundamentalSettingsOfRailwayLineAndStationMatrixes ;
  @extend %fundamentalSettingsOfStationDomainInStationMatrixes ;
  @extend %marginBottomMinus1 ;
}

%stationMatrixesStationsOnMainLine {
  @extend %fundamentalSettingsOfRailwayLineAndStationMatrixes ;
  @extend %fundamentalSettingsOfStationDomainInStationMatrixes ;
  border: {
    bottom: none ;
  }
  margin-bottom: 0px ;
}

%stationMatrixesStationsOnBranchLine {
  @extend %fundamentalSettingsOfRailwayLineAndStationMatrixes ;
  @extend %fundamentalSettingsOfStationDomainInStationMatrixes ;
  @extend %marginBottomMinus1 ;
  border: {
    top: none ;
  }
}

#station_matrixes , #train_operation_infos {
  .railway_line {
    clear: both ;
    @extend %railwayLineMatrixSmall ;
    @extend %contentsIncludedInRailwayLineMatrixes ;
  }
  @extend %marginBottom16 ;
}

#station_matrixes {
  .railway_line {
    @extend %marginBottomMinus1 ;
    .station {
      @extend %stationMatrixesStation ;
    }
    .stations {
      @extend %stationMatrixesStations ;
    }
    .stations_on_main_line {
      @extend %stationMatrixesStationsOnMainLine ;
    }
    .stations_on_branch_line {
      @extend %stationMatrixesStationsOnBranchLine ;
    }
  }
}