@charset "utf-8" ;

@import '../../fundamental_settings.scss' ;
@import 'background_of_menu.scss' ;

// 現在不使用
%inputBoxShadow {
  $width: 1px ;
  $height: 1px ;
  $bokeh: 1px ;
  $widen: 1px ;
  $color: #666 ;
  @include box_shadow( $width , $height , $bokeh , $widen , $color ) ;
}

#real_time_info_and_update_button {
  border: solid 1px #333 ;
  .content_header {
    .text_ja {
      font: {
        size: 9pt ;
      }
    }
    .text_en {
      font: {
        size: 6.75pt ;
      }
    }
  }
  ul.titles {
    padding: {
      left: 4px ;
      right: 4px ;
    }
    @extend %marginBottom8 ;
    @extend %backgroundOfMenu ;
    @extend %borderBottomOfMenu ;
  }
  li {
    list-style-type: none;
  }
  li.title {
    padding: 0px ;
    .icon {
      @extend %floatLeft ;
      @extend %marginRight4 ;
      width: 20px ;
    }
    .text {
      @extend %floatLeft ;
    }
    padding: {
      top: 4px ;
      bottom: 4px ;
    }
    p {
      margin: {
        top: 0px ;
        bottom: 0px ;
      }
      line-height: 1.1em ;
    }
    .text_ja {
      font: {
        size: 10pt ;
        weight: normal ;
      }
    }
    .text_en {
      font: {
        size: 7.5pt ;
        weight: normal ;
      }
    }
  }
  li.train_information , li.train_locations {
    margin: {
      bottom: 8px ;
    }
  }
  ul.time_infos {
    margin: {
      left: 16px ;
      right: 16px ;
      top: 16px ;
    }
    padding: {
      left: 0px ;
    }
  }
  ul.time_infos_of_category {
    @extend %marginLeft16 ;
    @extend %marginBottom8 ;
    padding: 0px ;
    font: {
      size: 9pt ;
    }
    // .title_of_time_info {
      // @extend %floatLeft ;
    // }
    .time {
      // @extend %floatLeft ;
      @extend %marginLeft16 ;
    }
  }
  ul.en {
    padding: {
      left: 0px ;
    }
    color: #999 ;
    font: {
      size: 8pt ;
    }
    @extend %marginTop8 ;
    @extend %marginBottom16 ;
    li {
      clear: left ;
    }
    .title_of_time_info_en {
      @extend %floatLeft ;
    }
    .time_en {
      @extend %floatLeft ;
      @extend %marginLeft4 ;
    }
  }
}

//-------- ここからは現在不使用

%inputBoxBgcolor {
  // 変数の定義
  //
  $color_top: $operator_color;
  $color_bottom: darken( $color_top , 20% );
  //
  $color_stop_point_1_moz : 5% ;
  $color_stop_point_1_webkit : 0.05 ;
  $color_stop_point_2_moz : 90% ;
  $color_stop_point_2_webkit : 0.9 ;
  //
  background: #{ $color_bottom } ;
  // Firefox
  background: -moz-linear-gradient(top,
    #{$color_top},
    #{$color_top} #{$color_stop_point_1_moz},
    #{$color_bottom} #{$color_stop_point_2_moz} ,
    #{$color_bottom}
  );
  // Safari, Google Chrome
  background: -webkit-gradient(linear, left top, left bottom,
    from( #{$color_top} ),
    color-stop( #{$color_stop_point_1_webkit} , #{$color_top} ) ,
    color-stop( #{$color_stop_point_2_webkit} , #{$color_bottom} ) ,
    to( #{$color_bottom} )
  );
}

#update {
  $height_of_button: 32px ;
  $width_of_button: ceil( $height_of_button * $golden_ratio ) ;
  //
  $width_of_update_whole : $width_main_content_center ;
  //
  //
  $margin_right_of_input: 8px ;
  $padding_left_of_time_info: 8px ;
  //
  $width_of_progress: $width_of_update_whole - ( $width_of_button + $margin_right_of_input ) - $padding_left_of_time_info ;
  $width_of_title: 96px ;
  $width_of_date: $width_of_progress - $width_of_title ;
  //
  $height_of_time_info : $height_of_button * 0.5 ;
  $height_of_update_whole : $height_of_time_info * ( 3 + 1 ) ;
  //
  width: $width_of_update_whole ;
  height: $height_of_update_whole ;
  vertical-align: bottom ;
  @extend %backgroundOfMenu ;
  //
  #progress {
    @extend %floatLeft ;
    @extend %marginLeft8 ;
    @extend %marginTop4 ;
    @extend %marginBottom4 ;
    .time_info {
      @extend %text_ja ;
      height: $height_of_time_info ;
      line-height: 1.1em ;
      font: {
        size: 9pt ;
      }
      .title {
        @extend %floatLeft ;
        width: $width_of_title ;
      }
      .time {
        @extend %floatLeft ;
        width: $width_of_date ;
      }
    }
  }
  .button {
    @extend %floatLeft ;
    width: $width_of_button ;
    height: $height_of_button ;
  }
  input {
    $margin_of_top_and_bottom: ( $height_of_update_whole - $height_of_button ) * 0.5 ;
    float:right;
    color: #fff;
    font: {
      size: 12pt ;
    }
    width: $width_of_button ;
    height: $height_of_button ;
    //
    // text-shadow: 1px 1px 2px #000;
    @extend %text_ja ;
    @extend %inputBoxBgcolor ;
    // @extend %inputBoxShadow ;
    // @include border_radius( 5px ) ;
    border: none;
    margin: {
      top : $margin_of_top_and_bottom ;
      bottom: $margin_of_top_and_bottom ;
      right: $margin_right_of_input * 2 ;
    }
    &:hover {
      opacity: 0.8 ;
    }
  }
}